<!DOCTYPE html>
{% load django_vite %}
{% load static %}
<html lang="en">
<head>
    {% vite_hmr_client %}
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>Activites Mentales</title>
    <link href="{% static 'assets/favicon.ico' %}" rel="icon" type="image/x-icon"/>
    {% vite_asset 'src/main.ts' %}

<noscript>
    <strong>We're sorry but frontend doesn't work properly without JavaScript enabled. Please enable it to
        continue.</strong>
</noscript>
{% if not user.is_authenticated %}
<h1>Activités Mentales</h1>
<div>
    <p>Vous n'êtes pas connecté.</p>

    <a href="{% url 'am:login' %}">Connexion</a> |
    <a href="{% url 'am:signup' %}">Créer un compte</a>
</div>
<br>
<br>
<div>
    Bienvenu(e) sur le générateur de séance d'activités mentales (ou automatismes)<br>

    Si vous voulez simplement visiter, vous pouvez utiliser les identifiants suivants :
    <ul>
        <li>Utilisateur: Test</li>
        <li>Mot de passe: test</li>
    </ul>

    Sinon vous pouvez vous inscrire (totalement gratuit).<br>
    Vous pourrez ensuite ajouter vos classes et leur créer des séances d'activités mentales.
    <p>
        Le site est en pleine construction. Ce n'est pas encore beau mais c'est déjà fonctionnel.
        <br>
        Contact: <a href="mailto:guillaume.claus@ac-grenoble.fr">Guillaume Claus</a>
    </p>
</div>

{% else %}
    <script>
        var username = "{{ user.username }}";
        var permissions = [];
        {% if perms.am.question_valider %}
        permissions.push('Validateur');
        {% endif %}
        {% if perms.am.change_latexmodel %}
        permissions.push('ChangeLatex');
        {% endif %}
</script>
{% endif %}
</head>
<body>
{% if user.is_authenticated %}
<div id="app"></div>
{% endif %}
</body>
</html>
