<!-- template/registration/login.html -->
{% extends 'base.html' %}

{% block title %} - Connexion{% endblock %}

{% block content %}
<h1>Activités Mentales</h1>
<a href="/am/">Retour à l'accueil</a>
<h2>Connexion</h2>

{% if not user.is_authenticated %}
<form method="post">
    <table>
        {% csrf_token %}
        {{ form.as_table }}
    </table>
    <button data-testid="valider" type="submit">Valider</button>
</form>
<a href="{% url 'am:password_reset' %}">Mot de passe oublié ?</a>
{% else %}
Authentifié

<a href="/am/">Accéder aux activités mentales</a>
{% endif %}

{% endblock %}http