<!-- template/registration/login.html -->
{% extends 'base.html' %}

{% block title %} - Changement de mot de passe{% endblock %}
{% block head %}
<style>
    th {
        vertical-align: top;
    }
</style>
{% endblock %}

{% block content %}
<h1>Activités Mentales</h1>
<h2>Changement de mot de passe</h2>

{% if user.is_authenticated %}
<form method="post">
    <table>
        {% csrf_token %}
        {{ form.as_table }}
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Valider">
                <input onclick="window.location.href='/am/profile/';" type="button" value="Annuler"/>
            </td>
        </tr>
    </table>
</form>
{% else %}
Non Authentifié

<a href="/am/">Retour à l'accueil</a>
{% endif %}

{% endblock %}http