<!-- templates/registration/password_reset_form.html -->
{% extends 'base.html' %}

{% block title %}Mot de passe oublié ?{% endblock %}

{% block content %}
  <h1>Mot de passe oublié ?</h1>
  <p>Saisissez votre adresse mail ci-dessous, et nous vous enverrons  des instructions pour le réinitialiser.</p>

  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Envoyez moi les instructions !">
  </form>
{% endblock %}