<!-- templates/registration/password_reset_complete.html -->
{% extends 'base.html' %}

{% block title %}Mot de passe réinitialisé{% endblock %}

{% block content %}
<h1>Mot de passe réinitialisé</h1>
<p>Votre mot de passe a été réinitialisé. <a href="{% url 'am:login' %}">retour à la page de connection</a>.</p>
{% endblock %}