<!-- templates/registration/password_reset_done.html -->
{% extends "base.html" %}

{% block title %}Email envoyé{% endblock %}

{% block content %}
  <h1>Lisez vos mails.</h1>
  <p>Nous vous avons envoyé les instructions pour réinitialiser votre mot de passe.
      Vous devriez recevoir le mail très bientôt !</p>
{% endblock %}