<!-- templates/registration/password_reset_confirm.html -->
{% extends "base.html" %}

{% block title %}Saisir un nouveau mot de passe{% endblock %}

{% block content %}

{% if validlink %}

<h1>Saisir un nouveau mot de passe</h1>
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Changer mon mot de passe">
</form>

{% else %}

<p>Le lien de réinitialisation du mot de passe est invalide, il a peut-être déjà été utilisé.
    Vous pouvez <a href="{% url 'am:password_reset' %}">re-demander sa réinitialisation</a>.</p>

{% endif %}
{% endblock %}