<!-- templates/registration/signup.html -->
{% extends 'base.html' %}

{% block title %} - Modifier mon profil{% endblock %}
{% block head %}
<style>
    th {
        vertical-align: top;
    }
</style>
{% endblock %}

{% block content %}
<h1>Activités Mentales</h1>
<h2>Modifier mon profil</h2>
<form method="post">
    <table>
        {% csrf_token %}
        {{ form.as_table }}
        <tr>
            <td></td>
            <td>Les mots de passe ne sont pas enregistrés en clair, ce qui ne permet pas d’afficher le mot de passe de
                cet utilisateur, mais il est possible de le changer en utilisant
                <a href="/am/password/">ce formulaire</a>.
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Valider">
                <input onclick="window.location.href='/am/';" type="button" value="Annuler"/>
            </td>
        </tr>
    </table>
</form>
{% endblock %}