<!-- templates/registration/signup.html -->
{% extends 'base.html' %}

{% block title %} - Créer un compte{% endblock %}
{% block head %}
<style>
    th {
        vertical-align: top;
    }
</style>
{% endblock %}

{% block content %}
<h1>Activités Mentales</h1>
<a href="/am/">Retour à l'accueil</a>
<h2>Créer un compte</h2>
<form method="post">
    <table>
        {% csrf_token %}
        {{ form.as_table }}
    </table>

    <button type="submit">Créer mon compte</button>
</form>
{% endblock %}