<!--
  - Copyright (c) 2022.
  - GuiΩ guillaume.claus@worldonline.fr
  -->

<script lang="ts" setup>
  import Modal from '@/components/Modal.vue'
  import {useQuestionsStore} from "@/store/questions"
  import {computed, ref} from "vue"
  import type {QuestionID} from "@/types"
  import type {IQuestionTooltipOptions} from "@/components/QuestionTooltip.vue";

  const questions = useQuestionsStore()
  const modal = ref<InstanceType<typeof Modal> | null>(null)

  const emit = defineEmits([
    'show-question-tooltip',
    'show-context-menu',
  ])

  const questionsAValider = computed(() => questions.getAValider)

  function getThumb(questionId: QuestionID) {
    return questions.get(questionId)?.thumb_name
  }

  function onClick(event: IQuestionTooltipOptions) {
    emit('show-question-tooltip', event)
  }

  function show() {
    console.debug('AVD.show')
    modal.value!.show()
  }

  function close() {
    console.debug('AVD.close')
    modal.value!.close()
  }

  defineExpose({ show, close })
</script>

<template lang="pug">
Modal(
    ref="modal"
    :noBackdrop="true"
    :min-width="100")
  template(v-slot:title) Question(s) à valider
  template(v-slot:body)
    div(v-for="questionId in questions.getAValider"
      @click="onClick({event: $event, questionId: questionId})") {{ questionId }} : {{ questions.get(questionId)?.auteur }}
</template>

<style lang="sass">
</style>