<script lang="ts" setup>
  import type {IClasse} from "@/types";

  const props = defineProps<{
    classe: IClasse,
    show: boolean
  }>()
</script>

<template lang="pug">
transition(v-if="show")
  .frame-mask
    .frame-wrapper
      .classe-edit
        table
          tr
            td
              label(for="nom")
            td
              input#nom(v-model="props.classe.nom")
          tr
            td
              label(for="nom_latex") Nom en LaTeX
            td
              input#nom_latex(v-model="props.classe.nom_latex")
          tr
            td
              label(for="annee") Année
            td
              input#annee(v-model="props.classe.annee")
          tr
            td
            td
              button(@click="$emit('save-classe')") Valider
              button(@click="$emit('cancel-edition')") Annuler
</template>

<style scoped>
.frame-mask {
  position: fixed;
  z-index: 9980;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: table;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease;
}

.frame-wrapper {
  vertical-align: middle;
  display: table-cell;
  width: 100%;
}

.classe-edit {
  overflow-y: scroll;
  max-width: 40%;
  max-height: 600px;
  margin: 0 auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
}
</style>