<!--
  - Copyright (c) 2022.
  - GuiΩ guillaume.claus@worldonline.fr

  props:
    v-mode:code the content of the code editor
    tabsize the size of tabulation in number of spaces

  emits:
   * 'update:code'
  -->

<script lang="ts" setup>
  import {ref} from "vue";

  interface ICodeEditorProps {
    code?: string,
    tabsize?: number,
    disabled?: boolean,
  }

  const codeEditor = ref<HTMLAreaElement | null>(null)

  const emit = defineEmits(['input', 'update:code'])

  const props = withDefaults(defineProps<ICodeEditorProps>(), {
    code: '',
    tabsize: 2,
    disabled: false
  })

  function handleInput(event: InputEvent) {
    const textarea = event.target as HTMLInputElement
    emit('update:code', textarea.value)
  }

  function handleKeyDown(event: KeyboardEvent) {
    const textarea = event.target as HTMLTextAreaElement;
    let key = event.key;
    let shiftKey = event.shiftKey;
    let start = textarea.selectionStart;
    let end = textarea.selectionEnd;
    let lineStart = textarea.value.substring(0,start).lastIndexOf("\n");
    let lineIndentSize = textarea.value.substring(lineStart + 1).search(/[^ ]/);
    // let lineIndentSize = 0
    // while (textarea.value.charAt(lineStart + lineIndentSize + 1) === ' ')
    //   lineIndentSize++;
    if (key === 'Backspace' && start > lineStart+1 && start <= lineStart + lineIndentSize + 1) {
      key = 'Tab';
      shiftKey = true;
    }
    switch (key) {
      case 'Delete':
        if (start === end && textarea.value.charAt(start ) === "\n") {
          textarea.selectionEnd =  start + textarea.value.substring(start + 1).search(/[^ ]/);
        }
        break
      case 'Enter':
        event.preventDefault();
        let spaces = "\n" + " ".repeat(lineIndentSize);
        let nextNotSpace = textarea.value.substring(end).search(/[^ ]/)
        let nextCharIndex = end + (nextNotSpace > -1 ? nextNotSpace : 0)
        if (start <= lineStart + lineIndentSize) { // cursor before the first non empty char
          end = lineStart + lineIndentSize + end - start + 1;
          start = lineStart + lineIndentSize + 1;
        } else {
          end = nextCharIndex;
        }
        textarea.value = textarea.value.substring(0, start) + spaces + textarea.value.substring(end);
        textarea.selectionStart = start + lineIndentSize + 1;
        textarea.selectionEnd = textarea.selectionStart;
        emit('input', textarea.value);
        break
      case 'Tab':
        event.preventDefault();
        let nbspaces = props.tabsize!;
        if (start <= lineStart + lineIndentSize + 1 || shiftKey) {
          nbspaces = lineIndentSize % props.tabsize!;
          if (nbspaces === 0)
            nbspaces = props.tabsize!;
        }
        if (start <= lineStart + lineIndentSize) {
          end = lineStart + lineIndentSize + end - start + 1;
          start = lineStart + lineIndentSize + 1;
        }
        if (shiftKey) { // Shift + Tab
          if (lineIndentSize > 0) {
            textarea.value = textarea.value.substring(0, lineStart + 1)
                + textarea.value.substring(lineStart + nbspaces + 1 );
            start -= nbspaces;
            end -= nbspaces;
          }
          textarea.selectionStart = start;
          textarea.selectionEnd = end;
        } else {  // Tab
          textarea.value = textarea.value.substring(0, start)
              + " ".repeat(nbspaces)
              + textarea.value.substring(end);
          textarea.selectionStart = start + nbspaces;
          textarea.selectionEnd = textarea.selectionStart;
        }
        emit('input', textarea.value);
        break
    }
  }

  function setHeight(height: string) {
    codeEditor.value!.style.height = height
  }

  function setWidth(width: string) {
    codeEditor.value!.style.width = width
  }

  defineExpose({setHeight, setWidth})
</script>

<template lang="pug">
//.CodeEditor__shadowArea(
//    @keydown="handleKeyDown"
//    @input="handleInput") {{ props.code }}
textarea.CodeEditor__codeArea(
    ref="codeEditor"
    :value="props.code"
    :disalbed="props.disabled"
    spellcheck="false"
    @keydown="handleKeyDown"
    @input="handleInput")/
</template>

<style lang="sass">
.CodeEditor__codeArea
  z-index: 0
  resize: none
  position: relative

.CodeEditor__shadowArea
  z-index: -1
</style>