<script lang="ts" setup>
  import ConfigClasses from '@/components/ConfigClasses.vue'
  import ConfigThemes from '@/components/ConfigThemes.vue'
  import ConfigLatex from '@/components/ConfigLatex.vue'
  import {computed, reactive} from "vue";

  const  tabs =  [
    {title: 'Classes', component: ConfigClasses},
    {title: 'Thèmes', component: ConfigThemes},
    {title: 'LaTeX', component: ConfigLatex}
  ]

  const state = reactive({
    // currentTab: 'LaTeX'
    currentTab: 'Classes'
  })

  const currentComponent = computed(() => {
    let tab = tabs.find((tab) => tab.title === state.currentTab)
    return tab!.component
  })
  
</script>

<template lang="pug">
#configuration
  //message-box(ref="messageBox")/
  router-link(to="/am/") ⮜ Retour aux activités mentales
  h2 Configuration:
  button.Config_tabBtn(
      v-for="tab in tabs"
      :key="tab.title"
      :class="['tab-button', { active: state.currentTab === tab.title }]"
      @click="state.currentTab = tab.title") {{ tab.title }}
  component.Config_tab(v-bind:is="currentComponent" @message="$refs.messageBox.show($event)")
</template>

<style scoped>
#configuration {
  text-align: center;
}

.Config_tabBtn {
  padding: 6px 10px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border: 1px solid #ccc;
  cursor: pointer;
  background: #f0f0f0;
  margin-bottom: -1px;
  margin-right: -1px;
}

.Config_tabBtn:hover {
  background: #e0e0e0;
}

.Config_tabBtn.active {
  background: #e0e0e0;
}

.Config_tab {
  border: 1px solid #ccc;
  padding: 10px;
}
</style>