<script lang="ts" setup>
  import ConfigLatexModel from "@/components/ConfigLatexModel.vue";
  import {computed, reactive, ref} from "vue";
  import {useLatexStore} from "@/store/latex";
  import type {IModel} from "@/types";

  const latex = useLatexStore()
  const configLatexModel = ref<InstanceType<typeof ConfigLatexModel> | null>(null)
  latex.loadModels()
  latex.loadParts()

  interface IConfigLatexSate {
    currentModel: Partial<IModel> | null,
    newModel: boolean
  }

  const state: IConfigLatexSate = reactive({
    currentModel: null,
    newModel: false,
  })

  const models = computed(() => latex.getAllModels)

  const modelId = computed(() => {
    if (state.currentModel)
      return state.currentModel.id
    else
      return null
  })

  function edit(model: IModel | null) {
    if (configLatexModel.value === null) {
      console.error('ConfigLatex.edit: configLatexModel is null', model)
      return
    }
    state.currentModel = model
    configLatexModel.value.edit(model)
  }

  function addNewModel() {
    if (configLatexModel.value === null) {
      console.error('ConfigLatex.addNewModel: configLatexModel is null')
      return
    }
    state.currentModel =  {label:'Nouveau Modèle'}
    state.newModel = true
    configLatexModel.value.edit(null)
  }

</script>

<template lang="pug">
div
  h3 Modèles LaTeX:
  template(
      v-for="model of models"
      :key="model.id")
    .ConfigLatex_button(
        v-if="model.id || state.newModel"
        :class="['tab-button', { active: state.currentModel === model }]"
        @click="edit(model)")  {{ model.label }}
  .ConfigLatex_button(
      @click="addNewModel"
      :disabled="state.newModel") +
  keep-alive
    ConfigLatexModel.ConfigLatex_model(
      ref="configLatexModel")
      ////v-if="state.currentModel"
      ////:model-id="state.currentModel.id"
      //@message="$refs.messageBox.show($event)")
</template>


<style scoped>

.ConfigLatex_button {
  padding: 6px 10px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border: 1px solid #ccc;
  cursor: pointer;
  background: #f0f0f0;
  margin-bottom: -1px;
  margin-right: -1px;
}

.ConfigLatex_button:hover {
  background: #e0e0e0;
}

.ConfigLatex_button.active {
  background: #e0e0e0;
}

.ConfigLatex_model {
  border: 1px solid #ccc;
  padding: 10px;
}
</style>