<script lang="ts" setup>
  import ClasseEdit from "@/components/ClasseEdit.vue";
  import {reactive} from "vue";
  import {useClassesStore} from "@/store/classes";
  import type {IClasse} from "@/types";

  interface IConfigClassesState {
    classeEditing: boolean,
    classeEdited: Partial<IClasse>
  }

  const classes = useClassesStore()
  classes.loadAllClasses()

  const state:IConfigClassesState  = reactive({
      classeEditing: false,
      classeEdited: {}
    })

  function editClasse(classe: IClasse | null = null) {
    if (! classe) {
      state.classeEdited = {
        nom: '',
        nom_latex: '',
        annee: (new Date()).getFullYear(),
      }
    } else {
      Object.assign(state.classeEdited, classe);
    }
    state.classeEditing = true
  }

  function saveClasse() {
    classes.saveClasse(state.classeEdited as IClasse)
      .then(() => state.classeEditing = false)
      .catch(error => console.log(error.response.data))
  }

</script>

<template lang="pug">
#config-classes
  ClasseEdit(
      :classe="state.classeEdited"
      :show="state.classeEditing"
      @message="$emit('message', $event)"
      @save-classe="saveClasse"
      @cancel-edition="state.classeEditing = false")/
  button(@click="editClasse()") Ajouter une classe
  table
    thead
      tr
        th Classe
        th Année
    tr.classe(
        v-for="classe in classes.getAllClasses"
        @click="editClasse(classe)")
      td {{ classe.nom }}
      td {{ classe.annee }}
</template>


<style scoped>

#config-classes {
  /*display: table-cell;*/
  /*align-content: center;*/
  /*border: solid 1px;*/
  width: 100%;
  /*margin: auto;*/
}
#config-classes table{
  margin: auto;
}

.classe {
  cursor: pointer;
}

.classe:hover {
  font-style: italic;
  color: blue;
}

.classe td {
  padding: 0 20px;
}

</style>