<script lang="ts" setup>
  import {computed, reactive} from "vue";
  import type {IModel, IModelPart, ModelType} from "@/types";
  import {useLatexStore} from "@/store/latex";

  const latex = useLatexStore()

  interface IConfigLatexModelState {
    visible: boolean,
    originalModel?: Partial<IModel>,
    originalParts: IModelPart[],
    model?: Partial<IModel>,
    parts: Partial<IModelPart>[],
    modified: boolean
  }


  const state: IConfigLatexModelState = reactive({
    visible: false,
    originalModel: undefined,
    originalParts: [],
    model: undefined,
    parts: [],
    modified: false
  })

  const editable = computed(() => {
    return permissions.includes('ChangeLatex')
  })

  const header = computed({
    get() {
      return getter('HE')
    },
    set(newValue) {
      setter('HE', newValue as string)
    }
  })

  const feuille = computed({
    get() {
      return getter('FE')
    },
    set(newValue) {
      setter('FE', newValue as string)
    }
  })

  const seance = computed({
    get() {
      return getter('SE')
    },
    set(newValue) {
      setter('SE', newValue as string)
    }
  })

  const question = computed({
    get() {
      return getter('QU')
    },
    set(newValue) {
      setter('QU', newValue as string)
    }
  })

  function getter(type: ModelType) {
    let part = state.parts.find(part => part.type === type)
    if (part)
      return part.code
    return ''
  }

  function setter(type: ModelType, newValue: string) {
    let part = state.parts.find(part => part.type === type) as IModelPart
    part.code = newValue
    state.modified = true
  }

  async function edit(model: IModel | null) {
    state.originalParts = []
    if (model === null) {
      state.originalModel = {
        label: 'Nouveau Modèle',
        description: '',
        file_name: '',
        parts: [],
        delete_tmp: true
      }
    } else {
      state.originalModel = model
      for (const partId of model.parts)
        await (latex.getPart(partId) as any)
            .then((part: IModelPart) => {
              state.originalParts.push(JSON.parse(JSON.stringify(part)))
            })
    }
    initFields()
    state.visible = true
  }

  function initFields() {
    state.parts = []
    state.model = JSON.parse(JSON.stringify(state.originalModel))
    for (const part of state.originalParts)
      state.parts.push(JSON.parse(JSON.stringify(part)))
    state.modified = false
  }

  // TODO: remove any
  function typeChanged(event: any) {
    for (let part of state.parts) {
      if (! latex.getPartTypes(event.target.value).includes(part.type!)) {
        const index = state.parts.indexOf(part)
        state.parts.splice(index, 1)
      }
    }
    for (let type of latex.getPartTypes(event.target.value)) {
      if (!state.parts.find(part => part.type === type)) {
        state.parts.push({code: '', model: state.model!.id!, type: type})
      }
    }
    state.modified = true
  }


  async function save() {
    latex.saveModel(state.model!, state.parts as any)
        .then((newModel) => {
          edit(newModel)
          // $parent.newModel = false
          // state.modified = false
        })
        .catch(error => console.log('error:', error))
  }

  function close() {
    state.visible = false
  }

  defineExpose({edit})

</script>

<template lang="pug">
div(:class="{hidden: !state.visible}")

  div.model(v-if="state.model")
    h2 {{ state.model.label }}
    table
      tr
        td Nom :
        td
          input(
              v-model="state.model.label"
              :disabled="!editable"
              @input="state.modified = true")/
      tr
        td Description :
        td
          input(
              v-model="state.model.description"
              :disabled="!editable"
              size="80"
              @input="state.modified = true")/
      tr
        td Nom de fichier :
        td
          input(
              v-model="state.model.file_name"
              :disabled="!editable"
              size="80"
              @input="state.modified = true")/
      tr
        td type :
        td
          input#HE.HE(
              v-model="state.model.type"
              :disabled="!editable"
              type="radio"
              value="HE"
              @input="typeChanged")/
          label(for="HE") Header
          input#FE.FE(
              v-model="state.model.type"
              :disabled="!editable"
              type="radio"
              value="FE"
              @input="typeChanged")/
          label(for="FE") Feuille
          input#SE.SE(
              v-model="state.model.type"
              :disabled="!editable"
              type="radio"
              value="SE"
              @input="typeChanged")/
          label(for="SE") Séance
          input#QU.QU(
              v-model="state.model.type"
              :disabled="!editable"
              type="radio"
              value="QU"
              @input="typeChanged")/
          label(for="QU") Question
    textarea(
        v-if="state.model.type === 'HE'"
        v-model="header"
        :disabled="!editable"
        cols="80"
        rows="30")
    textarea(
        v-if="state.model.type === 'FE'"
        v-model="feuille"
        :disabled="!editable"
        cols="80"
        rows="30")
    textarea(
        v-if="state.model.type === 'FE' || state.model.type === 'SE'"
        v-model="seance"
        :disabled="!editable"
        cols="80"
        rows="30")
    textarea(
        v-if="state.model.type === 'FE' || state.model.type === 'SE' || state.model.type === 'QU'"
        v-model="question"
        :disabled="!editable"
        cols="80"
        rows="30")
  button(ref="saveBtn" :disabled="! state.modified" @click="save") Enregistrer
  |&nbsp;
  button(ref="initBtn" :disabled="! state.modified" @click="initFields") Réinitialiser
</template>


<style scoped>
.hidden {
  display: none;
}

.model {
  text-align: center;
}

td {
  text-align: left;
}

textarea {
  margin: 5px;
}

</style>