<!--
  - Copyright (c) 2022.
  - GuiΩ guillaume.claus@worldonline.fr
  -->

<script lang="ts" setup>
  import {nextTick, reactive, ref} from "vue";
  import type {IContextMenuOption} from "@/types";

  interface IContextMenuState {
    visible: boolean,
    options?: IContextMenuOption[]
  }

  const root = ref<HTMLElement | null>(null)

  const state:IContextMenuState = reactive({
    visible: true,
  })

  async function show(event: MouseEvent, options: IContextMenuOption[]) {
    state.options = options
    let left = event.pageX || event.clientX
    let top = (event.pageY || event.clientY) - window.scrollY
    state.visible = true
    await nextTick()
    const bb = root.value!.getBoundingClientRect()
    root.value!.style.left = (left - Math.max(0, left + bb.width - window.innerWidth)) + 'px'
    root.value!.style.top = (top - Math.max(0, top + bb.height-window.innerHeight)) + 'px'
    root.value!.focus()
  }

  function close() {
    state.visible = false
  }

  function onItemClick(event: MouseEvent, item: IContextMenuOption) {
    if (item.disabled)
      return
    close()
    if (item.callback)
      item.callback(event)
  }

  defineExpose({show})
</script>

<template lang="pug">
.ContextMenu(
    ref="root"
    v-show="state.visible"
    tabindex="0"
    @blur="close")
  template(
      v-for="item in state.options")
    .ContextMenu_item(
        v-if="! item.type || item.type === 'item'"
       :class="{ContextMenu_item__disabled: item.disabled, hidden: item.hidden}"
        @click="onItemClick($event, item)") {{ item.name }}
    //.submenu(
    //    v-if="item.type === 'submenu'"
    //    @mouseover="showSubMenu($event, item)"
    //    @click="showSubMenu($event, item)") {{ item.name }} &gt;
    hr(v-if="item.type === 'rule'")

</template>

<style lang="sass">
.ContextMenu 
  position: fixed
  background: #eff0f1
  z-index: 999
  outline: none
  border-radius: 5px
  border: 1px solid gray
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.8)
  cursor: pointer

.hidden 
  display: none


.ContextMenu_item 
  padding: 5px 15px
  width: max-content
  &:hover
    background-color: lightskyblue


.ContextMenu_item__disabled, .ContextMenu_item__disabled:hover 
  background-color: #eff0f1
  color: gray
  cursor: default
</style>