<script lang="ts" setup>

</script>

<template lang="pug">
div
  router-link(to="/am/") ⮜ Retour aux activités mentales
  h2 Documentation
  |La documentation est comme le reste&nbsp;: succinte. Ce n'est qu'une ébauche qui devrait rapidement évoluer.

  h3 Utilisation standart :
  |Une fois connecté(e), vous créez vos classes (lien 'Configuration' en haut à gauche)<br>
  |Une fois que cela est fait, vous revenez à la page principale.

  ul
    li Vous sélectionnez l'année et la classe pour laquelle vous voulez créer des activités mentales
    li Vous ajouter si besoin des feuilles et des séances dans les feuilles.
    li Vous selectionnez un thème puis un sous-thème,... jusqu'à faire apparaitre les questions
      |(les questions ne sont liées qu'aux feuilles de l'arbre)
    li Lorque vous avez trouvé une question qui vous plait, vous l'insérez dans vos feuilles d'exercices par glisser-déposer.
    li Vous pouvez déplacer les questions d'une position à une autre.
      br
      |Pour supprimer une question il suffit de la glisser vers la liste des questions, à gauche ; ou bien click-droit > "Enlever la question".
    li Lorsque votre feuille est prête, vous pouvez la télécharger en pdf
      |en cliquant sur le lien en bas de la feuille
    li Une fois que vos élèves ont passé une séance, vous pouvez garder une tracer de la réussite de la classe
      |en cliquant sur le bouton 'saisir les notes', à droite de la séance.
      br
      |De même vous pouvez modifier la date en cliquant dessus et en tapant "Entrée" pour la valider.
    li Une fois une question évaluée, il n'est plus possible de la retirer.
      | La glisser vers une autre séance en fera une copie.
    li Vous pouvez copier une ou plusieurs séances en les sélectionnant (Ctrl + click pour sélection multiple) puis bouton droit > "Copier la/les séances"
      br
      | Ensuite vous pouvez l'insérer avant ou après une séance existante en utilisant un click droit.
    li 2 boutons Annuler/Refaire sont présents en haut à droite.



  h3 Création de nouvelles questions (Attention, il reste des bugs...)
  |Lorsque l'on crée une nouvelle question, il faut suivre les étapes suivantes:
  ol
    li Créer la question (bouton "nouvelle question" ou bien "Dupliquer" dans le menu contextuel
    li La positionner à l'intérieur de chacun des thèmes dont elle fait partie en la glissant à la position voulue
    li Demander sa validation (Éditer la question > 'À valider')
      br
      |À partir de ce moment elle n'est plus modifiable, mais son auteur peut l'utiliser dans ses séances.
    li La question sera relue et validée par un administrateur du site.
      br
      |Elle sera alors disponible pour tous les utilisateurs.

  h3 Modèles LaTeX (en lecture seule pour les utilisateurs)
  h4 Variables utilisables:
  ul
    li [[QUESTION]]: code LaTeX pour la question
    li [[ANNEE_SCO]]: année scolaire
    li [[CLASSE]]: nom de la classe
    li [[CLASSE_LATEX]]: code LaTeX pour le nom de la classe
    li [[NFEUILLE]]: le numéro de la feuille
    li [[NFEUILLE_n]]: le numéro de la feuille, codé sur n chiffre, complétés à gauche avec des 0
    li [[NSEANCE]]: le numéro de la séance
    li [[NSEANCE_n]]: le numéro de la séance, codé sur n chiffre, complétés à gauche avec des 0
    li [[NQUESTION]]: la place de la question dans la séance
    li [[NQUESTION_n]]: la place de la question dans la séance, codée sur n chiffre, complétés à gauche avec des 0
    li [[IDQUESTION]] : l'identifiant de la question
    li [[IDQUESTION_n]] : l'identifiant de la question, codé sur n chiffre, complétés à gauche avec des 0
    li [[NIVEAU]]: le niveau de la classe
    li [[IMAGES_DIR]]: le répertoire des images (chemin absolu)
    li [[THUMBS_DIR]]: le répertoire des aperçus (chemin absolu)
    li [[NOT_FIRST]]
      i qqchose
      |[[END_NOT_FIRST]]: utilisé pour bouclé sur les feuilles, les séances ou les questions. Écrit&#32;
      i qqchose
      |  si ce n'est pas le premier item de la boucle.
    li [[ONLY_FIRST]]
      i qqchose
      |[[END_ONLY_FIRST]]: utilisé pour boucler sur les feuilles, les séances ou les questions. Écrit&#32;
      i qqchose
      |  si c'est le premier item de la boucle.
</template>

<style scoped>
div {
  position: fixed;
  overflow-y: auto;
  z-index: 9990;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  background-color: beige;
  padding: 2% 10%;
  font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
  font-size: 15pt;
}
</style>