<script lang="ts" setup>
import {nextTick, reactive, ref, watch} from "vue";



  const props = defineProps(['modelValue', 'event'])
  const emit = defineEmits(['update:modelValue', 'on-close'])

  const state = reactive({ visible: false})

  watch(
    () => props.modelValue,
    (modelValue) => {
      if (modelValue) {
        show(props.event)
      } else {
        close()
      }
    })

  const root: any = ref(null)

  // closes context menu
  function close() {
    state.visible = false;
    emit('update:modelValue', false)
  }

  // const show = () => {state.visible = true}
  async function show(event: MouseEvent) {
    state.visible = true;
    await nextTick()
    // updates position of context menu
    root.value.style.left = (event.pageX || event.clientX) + 'px';
    root.value.style.top = ((event.pageY || event.clientY) - window.scrollY) + 'px';
    // make element focused
    root.value.focus();
  }
</script>

<template lang="pug">
.context-menu(
    ref="root"
    v-if="state.visible"
    tabindex="0"
    @blur="$emit('on-close'); close()")
  slot
</template>


<style scoped>
.context-menu {
  position: fixed;
  background: #eff0f1;
  z-index: 999;
  outline: none;
  border-radius: 5px;
  border: 1px solid gray;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.context-menu div {
  padding: 5px 15px;
}

.context-menu div:hover {
  background-color: lightskyblue;
}

</style>