<!--
  - Copyright (c) 2022.
  - GuiΩ guillaume.claus@worldonline.fr
  -->

<script setup lang="ts">
  import {computed, reactive, ref} from "vue"
  import Modal from '@/components/Modal.vue'
  import type {ClasseID, ThemeID} from "@/types"
  import {useThemesStore} from "@/store/themes";
  import {useClassesStore} from "@/store/classes";
  import EvolutionDialogQP from "@/components/EvolutionDialogQP.vue"

  interface IEvolutionDialogState {
    themeId?: ThemeID,
    classeId?: ClasseID
  }

  const themes = useThemesStore()
  const classes = useClassesStore()

  const modal = ref<InstanceType<typeof Modal> | null>(null)
  const body = ref<HTMLDivElement | null>(null)

  const state: IEvolutionDialogState = reactive({
  })

  const questionPosees = computed(()  => themes.getEvolution)

  const themePath = computed(() => {
      if (state.themeId) {
        let theme = themes.get(state.themeId)
        let themeStr = theme.label
        while (theme.parent! > 1) {
          theme = themes.get(theme.parent!)
          themeStr = theme.label + ' > ' + themeStr
        }
        return themeStr
      }
      return undefined
  })

  const classe = computed(() => {
    if (state.classeId)
      return classes.get(state.classeId)
    return undefined
  })


  function show(themeId: ThemeID, classeId: ClasseID) {
    console.debug('ED.show', themeId, classeId)
    state.themeId = themeId
    state.classeId = classeId
    themes.loadEvolution(themeId, classeId)
    modal.value!.show()
  }

  function close() {
    console.debug('ED.close')
    modal.value!.close()
  }

  function onResize({width: width, height: height}: {width: number, height: number}) {
    body.value!.style.height = (height - 130) + 'px'
  }

  defineExpose({ show, close })

</script>

<template lang="pug">
Modal(
    ref="modal"
    @resize="onResize"
    :closeOnBlur="true")
  template(v-slot:title) Évolution de la classe {{ classe?.nom }} pour le thème "{{ themePath }}"
  template(v-slot:body)
    .EvolutionDialog__body(ref="body")
      div(v-if="themes.isLoadingEvolution") Chargement...
      div(v-if="!themes.isLoadingEvolution && ! questionPosees.length") Ce thème n'a jamais été abordé
      EvolutionDialogQP(
          v-else="themes.isLoadingEvolution"
          v-for="questionPosee in questionPosees"
          :key="questionPosee.id"
          :questionPosee="questionPosee"
          :close="close"
          @show-question-tooltip="$emit('show-question-tooltip', $event)")
  template(v-slot:footer)
    .EvolutionDialog__footer
      button(data-testid="cancel" type="button" @click="close") Fermer
</template>

<style lang="sass">
  .EvolutionDialog__body
    height: 500px
    padding: 0
    overflow: auto
    display: flex
    flex-direction: column
</style> 