<!--
  - Copyright (c) 2022.
  - GuiΩ guillaume.claus@worldonline.fr
  -->
<script setup lang="ts">

  import {computed, defineProps} from "vue";
  import {useQuestionsStore} from "@/store/questions";
  import type {IQuestionPosee} from "@/types";
  import Score from '@/components/Score.vue'
  import {useFeuillesStore} from "@/store/feuilles";

  const questions = useQuestionsStore()
  const feuilles = useFeuillesStore()

  const emit = defineEmits(['loaded', 'show-question-tooltip'])

  const props = defineProps<{
    questionPosee: IQuestionPosee,
    close: () => void
  }>()

  const question = computed(() => questions.get(props.questionPosee?.question))
  const date = computed(() => {
    const dateSeance = feuilles.getSeance(props.questionPosee!.seance)?.date
    if (dateSeance) {
      const dateObj = new Date(dateSeance)
      return 'Le ' + Intl.DateTimeFormat('fr-FR').format(dateObj)
    }
    return 'Date non renseignée'
  })

  function onClick(event: MouseEvent) {
    console.debug('EDQP.onClick', event)
    emit('show-question-tooltip',{
      event: event,
      questionId: props.questionPosee?.question,
      onClose: props.close,
      showEvolution: true,
    })
  }

</script>

<template lang="pug">
.EvolutionDialogQP
  .EvolutionDialog__date {{ date ? (date) : 'Date non précisée' }}
  Score.EvolutionDialog__score(:score="props.questionPosee.score")/
  img.EvolutionDialog__questionThumb(
      :alt="'question ' + question.id"
      :src="'/static/thumbs/' + question.thumb_name"
      @load="$emit('loaded', question.id)"
      @click="onClick")/
</template>

<style lang="sass">
  .EvolutionDialogQP
    display: grid
    grid-template-columns: 150px 160px 215px
    align-items: center
    justify-content: center

  .EvolutionDialog__date
    justify-self: center

  .EvolutionDialog__questionThumb
    margin: 5px 0 0 0
</style>