<!--
  - Copyright (c) 2022.
  - GuiΩ guillaume.claus@worldonline.fr
  -->

<!--
Internal component for FeuilleList.
This component show a slot for a seance

Props:
    seance (Object) - the current seance

Events:
    question-edit - @see (FeuilleListFeuilleSeanceSlot)
    message - event emitted to send a message
    question-drop: @see (FeuilleListFeuilleSeanceSlot)
    score-changed: Event emitted when scores have changed.
                   $event = {seance_id: seance in which the scores have been updated,
                             question_ids: ids of questions of the updated scores}
    seance-changed: Event emitted when a seance have changed
                    $event = {seance_id: ...}
-->

<script lang="ts" setup>
  import Datepicker from '@vuepic/vue-datepicker'
  import '@vuepic/vue-datepicker/dist/main.css'

  import {computed, nextTick, reactive, ref} from "vue"
  import {useFeuillesStore} from "@/store/feuilles"
  import FeuilleListFeuilleSeanceSlot from "@/components/FeuilleListFeuilleSeanceSlot.vue"
  import {useLatexStore} from "@/store/latex"
  import type {IContextMenuOption, IQuestionPosee, ISeanceR, SeanceID} from "@/types"
  import {useClassesStore} from "@/store/classes"
  import {useUndoablesStore} from "@/store/undoables"

  interface IFeuilleListFeuilleSeanceState {
    scoresEditing: boolean,
    newScores: (number | null)[],
    isDatePickerVisible: boolean,
    dateTmp?: Date,
  }

  const classes = useClassesStore()
  const feuilles = useFeuillesStore()
  const latex = useLatexStore()
  const undoables = useUndoablesStore()
  const slots: Record<number, InstanceType<typeof FeuilleListFeuilleSeanceSlot>> = {}
  const btnScoreSave = ref<HTMLInputElement | null>(null)
  const datePicker = ref<InstanceType<typeof Datepicker> | null>(null)

  const emit = defineEmits([
    'loaded',
    'set-selection',
    'show-context-menu',
    'show-question-tooltip',
    'question-drop',
    'question-edit',
    'copy'])

  const props = defineProps<{
    seanceId: number,   // the current seance
    selection: {seances: SeanceID[]},
    clipboard: {seances: Partial<ISeanceR>[]},
  }>()

  const state: IFeuilleListFeuilleSeanceState = reactive({
    scoresEditing: false,
    newScores: [],   // array of the temp scores before insertion in the database
    isDatePickerVisible: false,
  })

  const isDeletable = computed(() => {
    if (seance.value) {
      for (let questionPosee of seance.value.questionsPosees) {
        if (questionPosee.score !== null)
          return false
      }
    }
    return true
  })

  const selectionIsDeletable = computed(() => {
    for(const seanceId of props.selection.seances) {
      const seance = feuilles.getSeance(seanceId)
      for (const questionPosee of seance?.questionsPosees! )
        if (questionPosee.score !== null)
          return false
    }
    return true
  })

  const isSelected = computed(() => props.selection.seances.indexOf(props.seanceId)>-1)

  const seance = computed(() => feuilles.getSeance(props.seanceId))

  const dateStr = computed(() => {
    if (seance.value && seance.value.date)
      return new Date(seance.value.date).toLocaleDateString('fr-FR')
    else
      return 'Date'
  })

  function  focusNext(position: number) {
    console.debug('FLFS.focusNext', position, seance.value)
    let nextPosition: number | undefined = undefined;
    for (let questionPosee of seance.value!.questionsPosees) {
      if (questionPosee.position > position && (nextPosition === undefined || questionPosee.position < nextPosition))
        nextPosition = questionPosee.position
    }
    if (nextPosition !== undefined)
      slots[nextPosition].focus()
    else
      btnScoreSave.value!.focus()
  }


  async function showDatePicker() {
    if (seance.value && seance.value.date)
      state.dateTmp = new Date(seance.value.date)
    else
      state.dateTmp = new Date(Date.now())
    state.isDatePickerVisible = true
    // await nextTick()
    // datePicker.value!.openMenu()
  }

  /**
   * initiates the edition of the scores
   */
  async function showEvaluate() {
    console.debug('FLFS.showEvaluate')
    // set initial values
    let firstPosition: number | undefined = undefined;
    for (let questionPosee of seance.value!.questionsPosees) {
      let position = questionPosee.position
      if (questionPosee.score !== null)
        state.newScores[position] = questionPosee.score * 5;
      else
        state.newScores[position] = null;
      if (firstPosition === undefined || position < firstPosition)
        firstPosition = position
    }
    // show the inputs
    state.scoresEditing = true;
    if (firstPosition !== undefined) {
      await nextTick()
      slots[firstPosition].focus()
    }
  }

    /**
     * Save the date of the seance on the Enter press event
     */
  function dateSave(date: Date | '') {
    let newDate: string | null
      if(date)
        newDate = new Date(date).toISOString().substr(0,10)
      else
        newDate = null
    feuilles.patchSeance(props.seanceId, {date: newDate})
      .then(() => state.isDatePickerVisible = false)
      .catch(error => console.log(error.response.data))
  }

    /**
     * save the new scores
     */
  function save() {
    let data: {questionPosee: IQuestionPosee, score: number | null}[] = []
    for (const questionPosee of seance.value!.questionsPosees) {
      const position = questionPosee.position
      let newVal: number | null = parseFloat(state.newScores[position] as any)
      if (!isNaN(newVal))
        newVal = newVal / 5;
      else
        newVal = null
      if (newVal !== questionPosee.score) {
        data.push({questionPosee: questionPosee, score: newVal})
      }
    }
    state.scoresEditing = false
    undoables.setScores(data)
    if (dateStr.value === "Date") {
      dateSave(new Date())
    }
  }

  function onClick(event: MouseEvent) {
    console.info('Seance', props.seanceId)
    console.debug('FLFS.onClick', event, props.selection)
    let newSelection = JSON.parse(JSON.stringify(props.selection))
    if (event.ctrlKey) {
      const index = newSelection.seances.indexOf(props.seanceId)
      if (index > -1)
        newSelection.seances.splice(index,1)
      else
        newSelection.seances.push(props.seanceId)
    } else
      newSelection = {seances: [props.seanceId]}
    emit('set-selection', newSelection)
  }

  function onContextMenu(event: MouseEvent) {
    console.debug('FLFS.onContextMenu', event, props.clipboard)
    onShowContextMenu({event: event, options: []})
  }

  async function onShowContextMenu({event:event, options: options}: {event: MouseEvent, options: IContextMenuOption[]}) {
    if (!props.selection.seances.includes(props.seanceId)) {
      onClick(event)
      await nextTick()
    }
    if (options.length)
      options.push({type: 'rule'})
    const multipleSel = props.selection.seances.length > 1
    const multipleClip = props.clipboard.seances.length > 1

    options.push({
          name: 'Copier ' + (multipleSel ? ' les seances' : 'la seance'),
          callback: () => emit('copy', event)
        })
    options.push({
          name: 'Couper ' + (multipleSel ? ' les seances' : 'la seance'),
          disabled: !(selectionIsDeletable.value && isDeletable.value),
          callback: () => {
            emit('copy', event);
            nextTick();
            undoables.deleteSeances(props.selection.seances)
          }
        })
    options.push({
          name: 'Supprimer ' + (multipleSel ? 'les seances' : 'la seance'),
          disabled: !(selectionIsDeletable.value && isDeletable.value),
          callback: () => undoables.deleteSeances(props.selection.seances)
        })
    options.push({
          name: 'Insérer ' + (multipleClip ? 'les seances' : 'la seance') + ' avant',
          disabled: props.clipboard.seances.length < 1,
          callback: () => pasteSeance(seance.value?.position!)
        })
    options.push({
          name: 'Insérer ' + (multipleClip ? 'les seances' : 'la seance') + ' après',
          disabled: props.clipboard.seances.length < 1,
          callback: () => pasteSeance(seance.value?.position! + 1)
        })
    options.push({name: 'Annuler'})
    emit('show-context-menu', {event: event, options: options})
  }


  function pasteSeance(position: number) {
    const seances: Partial<ISeanceR>[] = JSON.parse(JSON.stringify(props.clipboard.seances))
    for (const s of seances) {
      s.feuille = seance.value?.feuille!
      s.position = position++
    }
    if (seances.length > 1)
      undoables.addSeances(seances, 'Insérer des séance')
    else
      undoables.addSeance(seances[0], 'Insérer une séance')
  }
</script>

<template lang="pug">
.Seance(
    :data-testid="'seance_' + props.seanceId"
    v-if="seance"
    @click="onClick")
  .Seance_header Seance&nbsp;{{ seance.position }}
    |&nbsp;
    span.Seance_deleteBtn(
        :class="{disabled: ! isDeletable}"
        :title="isDeletable ? 'Supprimer la seance' : 'Impossible de supprimer une séance évaluée'"
        @click="undoables.deleteSeance(seance)") &#x1F5D9;
  .Seance_body(:class="{selected: isSelected}")
    FeuilleListFeuilleSeanceSlot(
        v-for="position in 5"
        :key="'slot' + props.seanceId + '_' + position"
        v-if="seance"
        :ref="(el) => slots[position] = el"
        :seanceId="props.seanceId"
        :position="position"
        v-model:newScore="state.newScores[position]"
        :scoreEditing="state.scoresEditing"
        @loaded="$emit('loaded', $event)"
        @focus-next="focusNext(position)"
        @contextmenu.prevent="onContextMenu"
        @message="$emit('message', $event)"
        @question-edit="$emit('question-edit', $event)"
        @question-drop="$emit('question-drop', $event)"
        @show-question-tooltip="$emit('show-question-tooltip', $event)"
        @show-context-menu="onShowContextMenu")/
  .Seance_footer
    button(v-if="! state.scoresEditing" @click="showEvaluate") Saisir les notes
    button.valider(v-if="state.scoresEditing" :ref="(el) => btnScoreSave=el" @click="save") Valider
    br
    button.annuler(v-if="state.scoresEditing" @click="state.scoresEditing = false") Annuler
    br
    span.Seance_date(v-if="!state.isDatePickerVisible" @click="showDatePicker") {{ dateStr }}
    //span.seance-date {{ dateStr }}
    Datepicker(
        ref="datePicker"
        v-model="state.dateTmp"
        @update:modelValue="dateSave"
        v-show="state.isDatePickerVisible"
        format="dd/MM/yyyy"
        locale="fr-fr"
        :enableTimePicker="false"
        :showNowButton="true"
        nowButtonLabel="Aujourd'hui"
        cancelText="Annuler"
        :noToday="false"
        :inline="true"
        :autoApply="true"
        @closed="dateSave")
      template(v-slot:action-select)
        p(@click="dateSave") Fermer
    //:inputFormat="dd/MM/yyy"
    //:locale="date-fns/locale/fr")/
    //datepicker(
    //    v-if="datePickerVisible"
    //    ref="datePicker"
    //    v-model="date"
    //    :monday-first="true"
    //    :language="fr"
    //    @input="dateSave")
    br
    template(v-for="model of latex.getAllModels")
      template(v-if="model.type === 'SE'")
        a(:href="'api/seance/' + props.seanceId +'/get_pdf/?model_id=' + model.id") {{model.label}}.pdf
</template>

<style lang="sass">
@use '../assets/base'

.Seance
  display: flex
  justify-content: flex-start
  text-align: left
  margin-left: 10px
  padding: 0
  padding-bottom: 5px

.Seance_header
  height: min-content
  margin-left:  -60px
  font-size: 90%
  //border: solid 1px
  transform-origin: top right
  transform:  translate(-27px,10px) rotate(-90deg)

.Seance_deleteBtn
  font-size: 140%
  color: red
  cursor: pointer
  &.disabled
    color: base.$color-disabled
    cursor: default


.Seance_body
  flex: 0 0 auto
  display: flex
  &.selected
    background: rgba(1,0,0,.05)
    border: solid red 1px
  & .questionSlot
    flex: 0 0 auto



.Seance_date
  //position: relative
  //top: 50%
  cursor: pointer

//
//.seance > div
//  display: inline-block
//  vertical-align: top
//  margin: 0
//  padding: 0


.Seance_footer
  display: flex
  flex-direction: column
  min-width: 150px
  line-height: 150%


a
  cursor: pointer

</style>