<!--
Internal component of the FeuilleList component.
this component deals with a Feuille

Props:
   feuille (Object) - the current feuille
   seances (Object) - all the seance of the current classe, the indexes are the ids of the seances

Events:
  question-edit - @see(FeuilleListFeuilleSeanceSlot)
  question-drop - @see(FeuilleListFeuilleSeanceSlot)
-->

<script lang="ts" setup>
  import FeuilleListFeuilleSeance from '@/components/FeuilleListFeuilleSeance.vue'
  import {useFeuillesStore} from "@/store/feuilles"
  import {computed} from "vue";
  import {useLatexStore} from "@/store/latex";
  import type {ISeanceR, SeanceID} from "@/types";
  import {useUndoablesStore} from "@/store/undoables";

  const latex = useLatexStore()
  const undoables = useUndoablesStore()

  const emit = defineEmits([
    'show-question-tooltip',
    'show-context-menu',
    'set-selection',
    'question-drop',
    'question-edit',
    'copy',
    'loaded'
  ])

  const props = defineProps<{
    feuilleId: number,
    selection: {seances: SeanceID[]},
    clipboard: {seances: Partial<ISeanceR>[]},
  }>()

  const feuilles = useFeuillesStore()

  const feuille = computed(() => feuilles.get(props.feuilleId) )

  const isDeletable = computed(() => {
    for (const seanceId of feuille.value.seances) {
      const seance = feuilles.getSeance(seanceId)!
      if (seance)
        for (const questionPosee of seance.questionsPosees)
          if (questionPosee.score !== null)
            return false
    }
    return true
  })

  function addSeance() {
    undoables.addSeance({feuille: props.feuilleId})
  }

  function deleteFeuille() {
    console.debug('FLF.deleteFeuille', feuille.value)
    if (isDeletable.value)
      undoables.deleteFeuille(feuille.value)
  }

</script>

<template lang="pug">
.Feuille(
    v-if="feuille"
    :data-testid="'feuille_' + feuille.id")
  .FeuilleHeader
    span.FeuilleHeader_deleteFeuilleBtn(
      :class="{disabled: ! isDeletable}"
      :title="isDeletable ? 'Supprimer la feuille' : 'Impossible de supprimer une feuille évaluée'"
      @click="deleteFeuille") &#x1F5D9;
    |
    | feuille {{ feuille.position }}
    //|
    //template(v-for="model of latex.getAllModels")
    //  template(v-if="model.type === 'FE'")
    //    a(:href="'api/feuille/' + feuille.id + '/get_pdf/?model_id=' + model.id") {{model.label}}.pdf
    //    |&nbsp;
  .FeuilleBody(v-if="feuille.seances && feuille.seances.length")
    template(
        v-for="seanceId in feuille.seances"
        :key="seanceId")
      FeuilleListFeuilleSeance(
          :seance-id="seanceId"
          :selection="props.selection"
          :clipboard="props.clipboard"
          @loaded="$emit('loaded', $event)"
          @message="$emit('message', $event)"
          @feuille-changed="$emit('feuille-changed', $event)"
          @question-edit="$emit('question-edit', $event)"
          @set-selection="$emit('set-selection', $event)"
          @copy="$emit('copy', $event)"
          @question-drop="$emit('question-drop', $event)"
          @score-changed="$emit('score-changed', $event)"
          @seance-changed="$emit('seance-changed', $event)"
          @show-question-tooltip="$emit('show-question-tooltip', $event)"
          @show-context-menu="$emit('show-context-menu', $event)")/
  .FeuilleFooter
    button.Feuille_addSeanceBtn(
        type="button"
        @click="addSeance({feuille: props.feuilleId})"
    ) Ajouter une séance
    br
    | feuille {{ feuille.position }} - Téléchagements :
    |
    template(v-for="model of latex.getAllModels")
      template(v-if="model.type === 'FE'")
        a(:href="'api/feuille/' + feuille.id + '/get_pdf/?model_id=' + model.id") {{model.label}}.pdf
        |&nbsp;
    br
    br
</template>

<style lang="sass">
@use '../assets/base'
  
.Feuille 
  display: flex
  flex-direction: column
  border-bottom: solid 3px black
  padding: 0
  margin: 0


.FeuilleHeader
  align-self: center
  flex: 0 0 auto
  font-size: 24px
  margin: 10px


.FeuilleHeader_deleteFeuilleBtn 
  color: red
  cursor: pointer


.FeuilleHeader_deleteFeuilleBtn.disabled 
  color: base.$color-disabled
  cursor: default

.FeuilleFooter
  align-self: center

.Feuille_addSeanceBtn 
  align-self: center
  margin: 20px
  min-width: fit-content


</style>