<!--
Internal component for FeuilleList.
This component show a slot for a question

Props:
    seance (Object) - the current seance
    position  (Number) - the current position
    questionPosee (Object) - the current questionPosee if it exists
    scoreEditing (Boolean) - if true, the input for editing the score is shown

Events:
  question-edit - event that requests the edition of a question.
                  $event = {questionId:... }
  question-drop - emitted when a question was dropped
                  $event = {
                      seanceSourceId: ...,
                      questionPoseeSourceId: ...,
                      scoreSource: ...,
                      questionSourceId: ...,
                      seanceDest: ...,
                      positionDest: ...,
                      questionPoseeDest: ... }
 -->

<script lang="ts" setup>
  import Score from '@/components/Score.vue'
  import {computed, ref} from "vue";
  import {useQuestionsStore} from "@/store/questions";
  import {useClassesStore} from "@/store/classes";
  import type {IQuestionDropEvent, IQuestionPosee, QuestionID, SeanceID} from "@/types";
  import {useUndoablesStore} from "@/store/undoables";
  import {useFeuillesStore} from "@/store/feuilles";

  const feuilles = useFeuillesStore()
  const questions = useQuestionsStore()
  const classes = useClassesStore()
  const undoables = useUndoablesStore()
  const root = ref<InstanceType<typeof HTMLElement>| null >(null)
  const input = ref<InstanceType<typeof HTMLInputElement> | null> (null)

  let nClick: number = 0;
  let timeoutDelay: number = 200
  let clickTimer: ReturnType<typeof setTimeout> | undefined = undefined

  const emit = defineEmits([
    'show-question-tooltip',
    'show-context-menu',
    'question-edit',
    'question-drop',
    'update:newScore',
    'focus-next',
    'loaded'
  ])

  const props = defineProps<{
    seanceId: SeanceID,       // the current seance
    position: number,     // the current position
    newScore?: number | null,        // the value of the current score (for v-model)
    scoreEditing: false   // Montrer la zone de saisie des notes ?
  }>()

  const questionPosee = computed(() => {
    return feuilles.getSeance(props.seanceId)!.questionsPosees.find(
        questionPosee => questionPosee.position === props.position);
  })

  const question = computed(() => {
    return questions.get(questionPosee.value!.question)
  })

  const bareme = 5 //classes.getSelected(question.value.bareme)

  const newScore = computed({
      get() {
        return props.newScore
      },
      set(newScore) {
        emit('update:newScore', newScore)
      }
    })


  function onClick(event: MouseEvent) {
    console.info('question', question.value.id)
    nClick++
    if (nClick === 1) {
      clickTimer = setTimeout(() => {
        emit('show-question-tooltip', {
          event: event,
          questionId: question.value.id,
          showEvolution: true
        })
        nClick = 0
      }, timeoutDelay)
    }

  }

  function onDblClick(event: MouseEvent) {
    questionEdit(question.value.id)
    clearTimeout(clickTimer)
    nClick = 0
  }

  function onContextMenu(event: MouseEvent) {
    console.debug('FLFSS.onContextMenu', question.value.id)
    emit('show-context-menu', {
      event: event, options: [
        { name: 'Éditer la question',
          hidden: ! permissions.includes('Validateur'),
          callback: () => emit('question-edit', {questionId: question.value.id, action: 'edit'})},
        { name: 'Enlever la question',
          disabled: questionPosee.value!.score !== null,
          callback: () => undoables.deleteQuestionPosee(questionPosee.value!)},
        {name: 'Propriétés de la question', callback: (event: MouseEvent) => onClick(event)},
    ]})
  }


  function questionEdit(question: QuestionID) {
      if (permissions.includes('Validateur'))
        emit('question-edit', {questionId: question, action: 'edit'})
    }

  /**
   * iniates the dataTransfer for a drag
   * @param event : the dragEvent
   */
  function onDragStart(event: DragEvent) {
    event.dataTransfer!.effectAllowed = 'copyMove';
    event.dataTransfer!.setData('seanceId', props.seanceId.toString());
    event.dataTransfer!.setData('position', '' + props.position);
    if (questionPosee.value) {
      if (questionPosee.value.score !== null) {
        event.dataTransfer!.effectAllowed = 'copy';
      }
      event.dataTransfer!.setData('questionPoseeId', questionPosee.value.id.toString());
      event.dataTransfer!.setData('score', questionPosee.value.score as unknown as string)
      event.dataTransfer!.setData('questionId', question.value.id.toString());
    }
    console.debug('FRFSS.dragStart questionId=' + event.dataTransfer!.getData('questionId'),event)
  }

  function onDragOver(event: DragEvent, questionPosee: IQuestionPosee) {
      if ((questionPosee &&
          (questionPosee.score !== null // on rated question
              || questionPosee.id.toString() === event.dataTransfer!.getData('questionPoseeId'))) // on itself
          || ! questions.get(parseInt(event.dataTransfer!.getData('questionId'))).avalider) // not avalider questionSource
      {
        event.dataTransfer!.dropEffect = 'none'
        return
      }
      root.value!.style.background = '#f99'
      // event.dataTransfer!.dropEffect = event.dataTransfer!.effectAllowed
    }

  function onDragLeave() {
    root.value!.style.background = '';
  }

  /**
   * the handler for a drop event : transmits the data to the FeuilleList component
   * @param dropEvent
   */
  function onDrop(dropEvent: DragEvent) {
    if (! dropEvent.dataTransfer) {
      console.debug('FLFSS.onDrop', dropEvent)
      return
    }
    console.debug('FLFSS.onDrop', dropEvent)
    root.value!.style.background = '';
    if (questionPosee.value && dropEvent.dataTransfer.getData('questionPoseeId') === questionPosee.value.id.toString())
      return;
    let arg: IQuestionDropEvent = {
      event: dropEvent,
      seanceSourceId: parseInt(dropEvent.dataTransfer.getData('seanceId')),
      positionSource: parseInt(dropEvent.dataTransfer.getData('position')),
      questionPoseeSourceId: parseInt(dropEvent.dataTransfer.getData('questionPoseeId')),
      questionSourceId: parseInt(dropEvent.dataTransfer.getData('questionId')),
      scoreSource: parseFloat(dropEvent.dataTransfer.getData('score')),
      seanceDest: feuilles.getSeance(props.seanceId)!,
      positionDest: props.position,
      questionPoseeDest: undefined,
      questionDestId: undefined
    }
    if (questionPosee.value) {
      arg.questionPoseeDest = questionPosee.value;
      arg.questionDestId = questionPosee.value.question;
    }
    emit('question-drop', arg);
  }


  function focus() {
      input.value!.focus();
      input.value!.select()
    }

  /**
   * handler for input event for the scores
   *
   * @param event: input event
   */
  function onInput(event: InputEvent) {
    console.debug('FLFSS.onInput', event)
    if (isNaN(parseFloat((event.target as HTMLInputElement).value)))
      newScore.value = null
    else if (((event.target as HTMLInputElement).value + '').length === (bareme + '').length)
      emit('focus-next')
  }

  defineExpose({focus})

</script>

<template lang="pug">
.QuestionSlot(
    ref="root"
    :data-testid="'slot_' + props.seanceId + '_' + position"
    @drop.prevent.stop="onDrop"
    @dragover.prevent="onDragOver($event, questionPosee)"
    @dragleave.prevent="onDragLeave()"
    @dragenter.prevent
)
  .QuestionSlot_questionPosee(
        v-if="questionPosee"
        @contextmenu.prevent.stop="onContextMenu")
    Score(:score="questionPosee.score")
    .saise(v-if="scoreEditing")
      input(ref="input" v-model.number.trim="newScore" size="2" @change="onInput($event)" @input="onInput($event)")
      |&nbsp; / &nbsp; {{ bareme }}
    .QuestionSlot_question(
        v-if="question"
        @click="onClick"
        @dblclick="onDblClick"
        @dragstart="onDragStart"
        draggable="true")
      img(
          :alt="'question ' + questionPosee.question"
          :src="'/static/thumbs/' + question.thumb_name"
          @load="$emit('loaded', props.questionId)")
    .QuestionSlot_questionVide(v-else) Question {{ questionPosee.question }}
</template>

<style lang="sass">
.QuestionSlot
  width: 211px
  min-height: 50px
  border: solid 1px gray


.QuestionSlot_questionPosee
  text-align: center

.QuestionSlot_questionVide
  display: block
  text-align: center
  width: 209px
  height: 60px
  /*padding-top: 20px;*/
  border: 1px solid black
  /*noinspection CssUnknownTarget*/
  background: white center no-repeat url("/static/assets/loading.gif")


.saisie input
  max-width: 20px
  margin: auto

img
  background: rgba(255, 255, 255, .7)

</style>