<!--
Component Vuejs that recursively shows the feuilles, seances and questionPosees of the given classe

Props:
   classe - the current classe

Events:
   'classe-changed' - Emitted when a Classe have changed (new Feuille)
   'question-edit' - Event that initiates the edition of a question $event = question_id
   'question-drop' - Event emitted when a question is dropped
                     $event = {question_id: question_id, seance: seance, position: position}
   'score-changed' - Event emitted when scores have changed.
                     $event = {seance_id: seance in which the scores have been updated,
                               question_ids: ids of questions of the updated scores}
   'message' - event emitted to send a message
-->

<script lang="ts" setup>
  import FeuilleListFeuille from '@/components/FeuilleListFeuille.vue'
  import {useFeuillesStore} from "@/store/feuilles";
  import {useClassesStore} from "@/store/classes";
  import {computed, provide, reactive} from "vue";
  import {useUndoablesStore} from "@/store/undoables";
  import type {IClipboardContent, IClipboardSeance, ISeance, ISeanceR, ISelection, SeanceID} from "@/types";

  interface IFeuilleListState {
    selection: ISelection,
    clipboard: IClipboardContent
  }

  const feuilles = useFeuillesStore()
  const classes = useClassesStore()
  const undoables = useUndoablesStore()

  const emit = defineEmits([
    'show-question-tooltip',
    'show-context-menu',
    'question-drop',
    'question-edit',
    'loaded'
  ])

  const state: IFeuilleListState = reactive({
    selection: {seances: []},
    clipboard: {seances: []}
  })

  const currFeuilles = computed(() => feuilles.getCurrFeuilles )

  function setSelection(newSelection: ISelection) {
    console.debug('FL.setSelection', newSelection)
    state.selection = newSelection
  }

  function onCopy(event: MouseEvent) {
    console.debug('FL.copy', event)
    const newSeances:  IClipboardSeance[] = []
    for (const seanceId of state.selection.seances) {
      const seance = feuilles.getSeance(seanceId)
      const newSeance: IClipboardSeance = {feuille: seance?.feuille!, questionsPosees: []}
      for (const questionPosee of seance?.questionsPosees!)
        newSeance.questionsPosees!.push({
          position: questionPosee.position,
          question: questionPosee.question,
        })
      newSeances.push(newSeance)
    }
    state.clipboard = {seances: newSeances}
  }

  function addFeuille() {
    undoables.addFeuille(classes.getSelectedId!)
  }

</script>

<template lang="pug">
.FeuilleList
  div(v-if="currFeuilles")
    template(v-for="feuilleId in currFeuilles")
      FeuilleListFeuille(
          :feuille-id="feuilleId"
          :selection="state.selection"
          :clipboard="state.clipboard"
          @loaded="$emit('loaded', $event)"
          @message="$emit('message', $event)"
          @set-selection="setSelection"
          @copy="onCopy"
          @question-edit="$emit('question-edit', $event)"
          @question-drop="$emit('question-drop', $event)"
          @feuille-changed="updateFeuille($event.feuilleId)"
          @seance-changed="updateSeance($event.seanceId)"
          @score-changed="scoreChanged($event)"
          @seance-add="seanceAdd($event.feuilleId)"
          @show-question-tooltip="$emit('show-question-tooltip', $event)"
          @show-context-menu="$emit('show-context-menu', $event)")/

  button.FeuilleList_newFeuilleBtn(
      v-if="classes.hasSelection"
      type="button"
      @click="addFeuille"
  ) Ajouter une feuille
  span(v-if="! classes.hasSelection") Commencez par ajouter vos classes en cliquant sur "Configuration" en haut à gauche.
  a#FeuilleListBottom
</template>


<style lang="sass">
.FeuilleList
  display: flex
  flex-direction: column
  height: calc(100% - 4px)
  border: solid 2px lightGray
  overflow: scroll
  scroll-behavior: smooth
  //align-content: flex-start
  min-height: 100px
  margin: 0
  padding: 0
  background-color: #ffdffb

.FeuilleList_newFeuilleBtn
  margin: 20px
</style>
