<!--
  - Copyright (c) 2022.
  - GuiΩ guillaume.claus@worldonline.fr
  -->
<script lang="ts" setup>
  import AValiderDialog from '@/components/AValiderDialog.vue'
  import Toolbar from '@/components/Toolbar.vue'
  import ThemeTree from '@/components/ThemeTree.vue'
  import FeuilleList from "@/components/FeuilleList.vue";
  import QuestionList from "@/components/QuestionList.vue"
  import QuestionTooltip from '@/components/QuestionTooltip.vue'
  import type {IQuestionTooltipOptions} from '@/components/QuestionTooltip.vue'
  import QuestionEditor from '@/components/QuestionEditor.vue'
  import {computed, nextTick, reactive, ref} from "vue"
  import {useThemesStore} from "@/store/themes"
  import {useClassesStore} from "@/store/classes"
  import {useUndoablesStore} from "@/store/undoables";
  import type {ClasseID, IContextMenuOption, IQuestionDropEvent, IQuestionPosee, QuestionID, SeanceID, ThemeID} from "@/types";
  import ContextMenu from "@/components/ContextMenu.vue";
  import MessageBox from "@/components/MessageBox.vue"
  import EvolutionDialog from '@/components/EvolutionDialog.vue'

  const classes = useClassesStore()
  const themes = useThemesStore()
  const undoables = useUndoablesStore()
  const avaliderDialog = ref<InstanceType<typeof AValiderDialog> | null>(null)
  const msgBox = ref<InstanceType<typeof MessageBox> | null>(null)
  const contextMenu = ref<InstanceType<typeof ContextMenu> | null>(null)
  const questionTooltip = ref<InstanceType<typeof QuestionTooltip> | null>(null)
  const questionEditor = ref<InstanceType<typeof QuestionEditor> | null>(null)
  const questionList = ref<InstanceType<typeof QuestionList> | null>(null)
  const evolutionDialog = ref<InstanceType<typeof EvolutionDialog> | null>(null)

  interface IMainPageState {
    onLoaded?: () => void
  }

  const state: IMainPageState = reactive({
  })

  const selectionThemeId = computed(() => {
    return [themes.getSelectedId]
  })

  function onShowQuestionTooltip(options: IQuestionTooltipOptions) {
    console.debug('MP.onShowQuestionTooltip', options)
    if (questionTooltip.value === null) {
      console.error('MainPage.onShowQuestionTooltip: questionTooltip is null')
      return
    }
    questionTooltip.value.show(options)
  }

  function onShowContextMenu({event: event, options: options}: {event: MouseEvent, options: IContextMenuOption[]}) {
    if (contextMenu.value === null) {
      console.error('MainPage.onShowContextMenu: contextMenu is null')
      return
    }
    contextMenu.value.show(event, options)
  }

  function showMessage({title:title, message: message}: {title: string, message: string}) {
    console.debug('MP.showMessage', title, message)
    msgBox.value?.show(title, message);
  }

  function onShowEvolutionDialog({themeId: themeId, classeId: classeId}: {themeId: ThemeID, classeId: ClasseID}) {
    console.debug('MP.onShowEvolutionDialog', themeId, classeId)
    evolutionDialog.value!.show(themeId, classeId)
  }

  function onShowAValiderDialog() {
    avaliderDialog.value!.show()
  }

  async function onClasseChanged(classeId: ClasseID) {
    classes.setSelectedId(classeId)
    state.onLoaded = () => document.getElementById('FeuilleListBottom')?.scrollIntoView()
  }

  async function setQuestionSelection({themeId: themeId, questionsIds: questionsIds}:
                                          {themeId: ThemeID, questionsIds: QuestionID[]}) {
    console.debug('MP.setQuestionSelection', themeId, questionsIds)
    await themes.setSelectedTheme(themeId)
    questionList.value?.setSelection(questionsIds)
  }

  function onFeuilleQuestionLoaded() {
    if (state.onLoaded !== undefined)
      state.onLoaded()
  }

  function onQuestionDrop(event: IQuestionDropEvent) {
    console.debug('MainP.onQuestionDrop', event)
    state.onLoaded = undefined
    const source = {
            id: event.questionPoseeSourceId,
            seance: event.seanceSourceId,
            position: event.positionSource,
            question: event.questionSourceId
          } as IQuestionPosee
    if (! isNaN(event.questionPoseeSourceId!)) { // déplacement d'une question
      if (event.scoreSource && !isNaN(event.scoreSource)) {  // questionSource évaluée
        if (event.questionPoseeDest) { // remplacement de questionPoseeDest
          if (event.questionPoseeDest.score !== null && ! isNaN(event.questionPoseeDest.score)) {
            showMessage({title: 'Erreur',message: 'On ne peut pas écraser une question évaluée.'})
            return;
          }
          contextMenu.value?.show(event.event, [
            {name: 'Remplacer', callback:() => undoables.replaceQuestionPosee(source.question, event.questionPoseeDest!)},
            {name: 'Permuter', disabled: true},
            {name: 'Annuler'}])
        } else if (event.questionDestId) { // vers QuestionList;;
            showMessage({title: 'Erreur',message: 'On ne peut pas supprimer une question évaluée.'})
        } else { // vers un slot vide
          undoables.addQuestionPosee({
            seance: event.seanceDest!.id,
            position: event.positionDest,
            question: event.questionSourceId})
        }
      } else { // questionSource non évaluée
        if (event.questionPoseeDest) { // remplacement de questionPoseeDest
          if (event.questionPoseeDest.score !== null && !isNaN(event.questionPoseeDest.score)) {
            showMessage({title: 'Erreur',message: 'On ne peut pas écraser une question évaluée.'})
            return;
          }
          contextMenu.value?.show(event.event, [
            {name: 'Remplacer', callback:() => undoables.replaceQuestionPosee(source, event.questionPoseeDest!)},
            {name: 'Permuter', callback:() => {undoables.swapQuestionPosee(source, event.questionPoseeDest!)}},
            {name: 'Annuler'}])

        } else if (event.questionDestId) { // vers QuestionList : suppression de questionPoseeSource
          undoables.deleteQuestionPosee(source)
        } else { // QPDest et QDest sont nuls : déplacement de QPSource
          undoables.patchQuestionPosee(source, {
                seance: event.seanceDest!.id,
                position: event.positionDest })
        }
      }
    } else { // QPSource est nulle : Ajout d'une question
      if (event.questionPoseeDest) { // remplacement de la question
        if (event.questionPoseeDest.score !== null && !isNaN(event.questionPoseeDest.score)) {
          showMessage({title: 'Erreur',message: 'On ne peut pas écraser une question évaluée.'})
          return;
        }
          contextMenu.value?.show(event.event, [
            {name: 'Remplacer', callback:() => undoables.replaceQuestionPosee(source.question, event.questionPoseeDest!)},
            {name: 'Annuler'}])
        console.debug('MP.onQuestionDrop dropContextMenu')
      } else { // QPDest est null : ajout d'une question dans un emplacement vide
        undoables.addQuestionPosee(
            {seance: event.seanceDest!.id, position: event.positionDest, question: event.questionSourceId})
      }
    }
  }

  function onNewQuestion() {
    questionEditor.value!.edit()
    questionEditor.value!.setThemes([themes.getSelectedId!])
  }

  function onQuestionEdit({questionId:questionId, action:action}: {questionId: QuestionID, action: 'edit' | 'duplicate'}) {
    questionTooltip.value! .close()
    state.onLoaded = undefined
    switch (action) {
      case "edit":
        questionEditor.value?.edit(questionId)
        break
      case "duplicate":
        questionEditor.value?.duplicate(questionId)
        break
    }
  }

</script>

<template lang="pug">

MessageBox.MessageBox(
    ref="msgBox")/

ContextMenu(ref="contextMenu")/

QuestionEditor.QuestionEditor(
    ref="questionEditor"
    @message="showMessage"
    z-index="2"
    )/

QuestionTooltip(
    ref="questionTooltip"
    @set-selection="setQuestionSelection"
    @show-evolution-dialog="onShowEvolutionDialog"
    z-index="1000")/

EvolutionDialog(
    ref="evolutionDialog"
    @show-question-tooltip="onShowQuestionTooltip")/

AValiderDialog(
    ref="avaliderDialog"
    @question-edit="onQuestionEdit"
    @show-question-tooltip="onShowQuestionTooltip"
    @show-context-menu="onShowContextMenu")

.MainPage
  Toolbar.Toolbar(
      @classe-changed="onClasseChanged"
      @show-questionsavalider-dialog="onShowAValiderDialog")/
  .Mainpanel
    .Selector
      ThemeTree.Selector__theme(
          :selection-ids="selectionThemeId"
          @selection-changed="themes.setSelectedTheme($event[0])"
          @show-context-menu="onShowContextMenu"
          @show-evolution-dialog="onShowEvolutionDialog")/
      .Selector__question
        button(data-testid="newQuestion" @click="onNewQuestion") Nouvelle question
        QuestionList.Selector__questionList(
             ref="questionList"
            :themeId="themes.getSelectedId"
            :classeId="classes.getSelectedId"
             @show-question-tooltip="onShowQuestionTooltip"
             @show-context-menu="onShowContextMenu"
             @question-edit="onQuestionEdit"
             @question-drop="onQuestionDrop")
             //@question-duplicate="questionDuplicate($event.questionId)"")/

    FeuilleList.FeuilleList(
        ref="feuilleList"
        @message="showMessage($event)"
        @question-edit="onQuestionEdit"
        @question-drop="onQuestionDrop"
        @classe-changed="updateClasseList()"
        @loaded="onFeuilleQuestionLoaded"
        @score-changed="$refs.questionList.updateScore($event.questionIds)"
        @show-question-tooltip="onShowQuestionTooltip"
        @show-context-menu="onShowContextMenu")/

</template>

<style lang="sass">
@use '../assets/base'

body
  background-color: #eff0f1
  margin: 0

.MessageBox
  z-index: 10

.QuestionEditor
  z-index: 5

.MainPage
  position: absolute
  top: 0
  bottom: 0
  right: 0
  left: 0
  display: flex
  flex-direction: column
  align-content: flex-start


.Toolbar 
  flex: 0 0 auto
  width: 100%
  border-bottom-style: inset


.Mainpanel 
  flex: 1 1 auto
  display: flex
  flex-direction: row
  align-items: flex-start
  border: solid
  height: calc(100% - 45px)


.Selector 
  flex: 1 1 0
  display: flex
  flex-direction: row
  background-color: base.$color-selector
  padding: 10px
  border: base.$borders
  height: calc(100% - 24px)


.Selector__theme
  flex: 1 1 auto
  vertical-align: top
  background-color: white
  border: base.$borders
  overflow: auto
  min-width: 200px
  margin: 0

.Selector__question
  text-align: center
  display: flex
  flex-direction: column
  border-bottom: base.$borders

.Selector__questionList
  border: base.$borders

.FeuilleList 
  flex: 10 10 auto

</style>