<!--
Composant Vuejs qui affiche une fenêtre modale contenant un message

 Props:
    message (String) - message à afficher
    show (Boolean) - si vrai, la fenêtre est affichée


 Events:
-->

<script lang="ts" setup>
  import {computed, nextTick, reactive, ref} from "vue";
import Modal from "@/components/Modal.vue";

  const modal = ref<InstanceType<typeof Modal> | null>(null)
  const body = ref<HTMLDivElement | null>(null)
  const bottom = ref<HTMLElement | null>(null)


  const state = reactive({
      title: '',
      message: '',    // message à afficher

    })

  const html = computed(() => {
     return state.message?.startsWith("<!DOCTYPE html>") === true

  })

  const htmlMessage = computed(() => {
    return state.message;
  })


  async function show(title: string, message: string) {
    state.title = title
    state.message = message
    modal.value!.show()
    await nextTick()
    bottom.value?.scrollIntoView()
  }

  function close() {
    modal.value!.close()
  }

  function onResize({width: newWidth, height: newHeight}: { width: number, height: number }) {
    console.debug('MB.onResize', newWidth, newHeight)
    body.value!.style.height = (newHeight - 129) + 'px'
  }


  defineExpose({show})
</script>

<template lang="pug">
Modal(
    ref="modal"
    @resize="onResize"
    :closeOnBlur="true")
  template(v-slot:title) {{ state.title }}
  template(v-slot:body)
    .MessageBox__body(ref="body")
      pre(v-if="! html.value") {{ state.message }}
      span(v-if="html.value" v-html="state.message")
      div(ref="bottom")
    //transition(v-if="visible")
    //  .message-mask(@click="visible = false")
    //    .message-wrapper
          .message-container(data-textid="message")
  template(v-slot:footer)
      button(data-testid="cancel" type="button" @click="close") Fermer

</template>


<style lang="sass">
.MessageBox__body
  overflow: auto
/*.message-mask {*/
/*  position: fixed;*/
/*  z-index: 9998;*/
/*  top: 0;*/
/*  left: 0;*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  background-color: rgba(0, 0, 0, 0.5);*/
/*  display: table;*/
/*  transition: opacity 0.3s ease;*/
/*  overflow: auto;*/
/*}*/

/*.message-wrapper {*/
/*  vertical-align: middle;*/
/*  display: table-cell;*/
/*  width: 100%;*/
/*}*/

/*.message-container {*/
/*  overflow-y: scroll;*/
/*  max-width: 40%;*/
/*  max-height: 600px;*/
/*  margin: 0 auto;*/
/*  padding: 20px 30px;*/
/*  background-color: #fff;*/
/*  border-radius: 2px;*/
/*  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);*/
/*  transition: all 0.3s ease;*/
/*  font-family: Helvetica, Arial, sans-serif;*/
/*}*/

</style>
