<!--
  - Copyright (c) 2022.
  - GuiΩ guillaume.claus@worldonline.fr
  -->

<script lang="ts" setup>
  import Modal from '@/components/Modal.vue'
  import {reactive, ref} from "vue";

  const modal = ref<InstanceType<typeof Modal> | null>(null)

  const state = reactive({
    showModal: false
  })

</script>

<template lang="pug">
Modal(ref="modal")
  template.test(v-slot:title) Title
  template(v-slot:body) Modal Content Here
button(@click="modal.show()") Open Modal
</template>

<style lang="sass">
.Modal__container
  display: flex
  align-items: center
  justify-content: center

.Modal__content
  display: flex
  flex-direction: column
  background: aliceblue
  border: solid 1px red

.Modal__header
  //pass

.Modal__body
  //pass

</style>