<!--
  - Copyright (c) 2022.
  - GuiΩ guillaume.claus@worldonline.fr
  -->

<script lang="ts" setup>
import {computed, nextTick, reactive, ref, watchEffect} from "vue";

  interface IModalProps {
    minHeight?: number,
    minWidth?: number,
    closeOnBlur?: boolean,
    isWaiting?: boolean
    noBackdrop?: boolean
  }

  interface IModalState {
    isVisible: boolean,
    isDragging: boolean,
    isResizing: boolean,
    resizingDirection?: 'n' | 's' | 'e' | 'w' | 'ne' | 'nw' | 'se' | 'sw',
    lastX: number,
    lastY: number,
    firstOpening: boolean,
  }

  const emit = defineEmits([
      'resize'
  ])

  const backdrop = ref<HTMLDivElement | null>(null)
  const modal = ref<HTMLDivElement | null>(null)

  const props = withDefaults(defineProps<IModalProps>(), {
    minHeight: 100,
    minWidth: 150,
    closeOnBlur: false,
    isWaiting: false,
    noBackdrop: false,
  })

  const state: IModalState = reactive({
    isVisible: false,
    isDragging: false,
    isResizing: false,
    lastX: 0,
    lastY: 0,
    firstOpening: true,
  })

  const cursor = computed(() => state.resizingDirection + '-resize')

  function onMouseDownOnHeader(event: MouseEvent) {
    console.debug('Modal.onMouseDownOnHeader',event)
    state.isDragging = true
    state.lastX = event.clientX
    state.lastY = event.clientY
  }

  function onMouseDown(event: MouseEvent) {
    console.debug('Modal.onMouseDown', event, event.clientY,modal.value!.getBoundingClientRect().top)
    const bb = modal.value!.getBoundingClientRect()
    const x = event.clientX
    const y = event.clientY
    if ((((bb.right - 7 < x && x < bb.right + 7) || (bb.left - 7 < x && x < bb.left + 7)) && bb.top - 7 < y && y < bb.bottom + 7)
        || (((bb.top - 7 < y && y < bb.top + 7) || (bb.bottom - 7 < y && y <bb.bottom + 7)) && bb.left - 7 <x && x < bb.right + 7)) {
      state.isResizing = true
      console.debug('Modal.isResizing', state.isResizing)
    }
  }

  function onMouseMove(event:MouseEvent) {
    // console.debug('Modal.onMouseMove', event)
    const bb = modal.value!.getBoundingClientRect()
    const x = event.clientX
    const y = event.clientY
    if (state.isDragging) {
      event.preventDefault()
      modal.value!.style.left = Math.min(Math.max(0, bb.left + x - state.lastX), window.innerWidth - bb.width) + 'px'
      modal.value!.style.top = Math.min(Math.max(0, bb.top + y - state.lastY), window.innerHeight - bb.height) + 'px'
    } else if (state.isResizing) {
      event.preventDefault()
      let top = bb.top
      let bottom = bb.bottom
      let left = bb.left
      let right = bb.right
      console.info(top, bottom, left, right)
      switch (state.resizingDirection) {
        case 'n' :
          top = Math.max(0, Math.min(y, bottom - props.minHeight))
          break
        case 's':
          bottom = Math.max(top + props.minHeight, Math.min(y, window.innerHeight))
          break
        case 'e':
          right = Math.max(left + props.minWidth, Math.min(x, window.innerWidth))
          break
        case 'w':
          left = Math.max(0, Math.min(x, right-props.minWidth))
          break
        case 'ne':
          top = Math.max(0, Math.min(y, bottom - props.minHeight))
          right = Math.max(left + props.minWidth, Math.min(x, window.innerWidth))
          break
        case 'nw':
          top = Math.max(0, Math.min(y, bottom - props.minHeight))
          left = Math.max(0, Math.min(x, right-props.minWidth))
          break
        case 'se':
          bottom = Math.max(top + props.minHeight, Math.min(y, window.innerHeight))
          right = Math.max(left + props.minWidth, Math.min(x, window.innerWidth))
          break
        case 'sw':
          bottom = Math.max(top + props.minHeight, Math.min(y, window.innerHeight))
          left = Math.max(0, Math.min(x, right-props.minWidth))
          break
      }
      modal.value!.style.left = left + 'px'
      modal.value!.style.width = right - left + 'px'
      modal.value!.style.top = top + 'px'
      modal.value!.style.height = bottom - top + 'px'
      // if(props.noBackdrop) {
      //   backdrop.value!.style.left = Math.max(0,left-20) + 'px'
      //   backdrop.value!.style.width = (Math.min(window.innerWidth, right+40) -left ) + 'px'
      //   backdrop.value!.style.top = Math.max(0,top-20) + 'px'
      //   backdrop.value!.style.height = (Math.min(window.innerHeight, bottom+40) - top) + 'px'
      // }
      emit('resize', {width: right - left, height: bottom-top})
    }
    else if (bb.left + 7 < x && x < bb.right - 7 && bb.top - 7 < y && y <bb.top + 7)
      state.resizingDirection = 'n'
    else if (bb.left + 7 < x && x < bb.right - 7 && bb.bottom -7 < y && y <bb.bottom + 7)
      state.resizingDirection = 's'
    else if ( bb.right - 7 < x && x < bb.right + 7 && bb.top+7 < y && y < bb.bottom-7)
      state.resizingDirection = 'e'
    else if ( bb.left - 7 < x && x < bb.left + 7 && bb.top + 7 < y && y < bb.bottom-7)
      state.resizingDirection = 'w'
    else if (bb.left - 7 < x && x < bb.left + 7 && bb.top - 7 < y && y <bb.top +7)
      state.resizingDirection = 'nw'
    else if (bb.right - 7 < x && x < bb.right + 7 && bb.top - 7 < y && y <bb.top +7)
      state.resizingDirection = 'ne'
    else if (bb.left - 7 < x && x < bb.left + 7 && bb.bottom - 7 < y && y <bb.bottom +7)
      state.resizingDirection = 'sw'
    else if (bb.right - 7 < x && x < bb.right + 7 && bb.bottom - 7 < y && y <bb.bottom +7)
      state.resizingDirection = 'se'
    else {
      state.resizingDirection = undefined
    }
    state.lastX = x
    state.lastY = y
  }

  function onMouseUp(event: MouseEvent) {
    state.isDragging = false
    state.isResizing = false
  }

  function onBlur() {
    console.debug('Modal.onBlur')
    if (props.closeOnBlur)
      close()
  }

  async function show() {
    state.isVisible = true
    await nextTick()
    if (state.firstOpening) {
      const bb = modal.value!.getBoundingClientRect()
      modal.value!.style.left = ((backdrop.value!.getBoundingClientRect().right - bb.right + bb.left) / 2) + 'px'
      modal.value!.style.top = ((backdrop.value!.getBoundingClientRect().bottom - bb.bottom + bb.top) / 2) + 'px'
      state.firstOpening = false
      emit('resize', {width: bb.width, height: bb.height})
    }
  }

  function close() {
    state.isVisible = false
  }

  defineExpose({show, close})

  // pour debug;
  // watchEffect(() => console.log('rDir, isR', state.resizingDirection, state.isResizing))

</script>

<template lang="pug">
.Modal__backdrop(
      ref="backdrop"
      v-show="state.isVisible"
      :class="{Modal_waiting: props.isWaiting, \
          Modal_resizing: state.resizingDirection, \
          Modal__backdrop_hidden: props.noBackdrop}"
      @mousemove.prevent.stop="onMouseMove"
      @mousedown="onMouseDown"
      @mouseup="onMouseUp"
      @click="onBlur"

      @contextmenu.prevent.stop)
  .Modal(
      ref="modal"
      :class="{ Modal_waiting: props.isWaiting, Modal_resizing: state.resizingDirection}"
      @click.stop)

    header.Modal__header(
        :class="{Modal_waiting: props.isWaiting}"
        @mousedown.stop="onMouseDownOnHeader")
      .Modal__title
        slot(name="title") default title
      button.Modal__closeBtn(
          :class="{Modal_waiting: props.isWaiting}"
          type="button"
          title="Fermer"
          @click="close") &#128473;

    section.Modal__body(:class="{Modal_waiting: props.isWaiting}")
      slot(name="body") default body

    footer.Modal__footer(:class="{Modal_waiting: props.isWaiting}")
      slot(name="footer")
</template>

<style lang="sass">
  .Modal__backdrop
    z-index: 1
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-color: rgba(0, 0, 0, 0.3)
    &.Modal__backdrop_hidden
      background-color: rgba(0, 0, 0, 0)
      width: 0
      &.Modal_resizing
        width: 100%

  .Modal
    position: fixed
    box-shadow: 2px 2px 20px 1px
    background: #FFFFFF
    border-radius: 10px
    display: flex
    flex-direction: column
    width: 50%

  .Modal__header
    padding: 5px 5px 0 5px
    display: grid
    grid-template-columns: auto min-content
    align-items: center
    border-bottom: 1px solid #eeeeee
    font-weight: bold
    cursor: move

  .Modal__title
    text-align: center

  .Modal__closeBtn
    border: none
    cursor: pointer
    font-size: larger
    //color: #4AAE9B
    background: transparent

  .Modal__body
    flex: 1 1 auto
    //position: relative
    padding: 20px 10px
    //overflow: hidden

  .Modal__footer
    flex: 0 0 auto
    padding:  10px
    border-top: 1px solid #eeeeee
    display: grid
    justify-items: center

  .Modal_waiting
    cursor:  wait

  .Modal_resizing
    cursor: v-bind(cursor)
  
</style>