<!--suppress TypeScriptValidateTypes -->
<script lang="ts" setup>
  import Score from "@/components/Score.vue";
  import {computed, ref} from "vue";
  import {useFeuillesStore} from "@/store/feuilles";
  import {useQuestionsStore} from "@/store/questions";
  import {useThemesStore} from "@/store/themes";
  import type {QuestionID} from "@/types";

  const feuilles = useFeuillesStore()
  const questions = useQuestionsStore()
  const themes = useThemesStore()

  const emit = defineEmits([
    'dragenter',
    'dragleave',
    'drop',
    'loaded'
  ])

  const props = defineProps<{
    questionId: QuestionID,
    index: number,
    selected: boolean
  }>()

  const root = ref<HTMLElement | null>(null)

  const question = computed(() => {
    return questions.get(props.questionId)
  })

  const scores = computed(() => {
    return feuilles.getScores(props.questionId)
  })
  //
  // const position = computed(() => {
  //   return questions.getPositionInTheme(props.questionId, themes.getSelectedId!);
  // })

  const style = computed(()  => root.value!.style)

  // resend event to parent
  function resend(eventName: 'dragenter' | 'dragleave' | 'drop', event: DragEvent) {
     emit(eventName, event)
  }

  function onImageLoaded(event: Event) {
    console.info('question_' + props.questionId + ' loaded')
  }

  defineExpose({style, question})
</script>

<template lang="pug">
.QuestionList_node(
    ref="root"
    :id="'question_' + questionId"
    :data-testid="'question_' + questionId"
    :class="{selected:selected}")
  Score(
      v-for="(score, index) in scores"
      :key="index"
      :score="score")/
  img.QuestionList_imageThumb(
      v-if="question"
      :title="'question ' + questionId"
      :alt="'question ' + questionId"
      :class="{ \
          editable: question.editable,\
          avalider: question.avalider && ! question.validee}"
      :src="('../static/thumbs/' + question.thumb_name)"
      @load="$emit('loaded')"
      @dragenter.prevent="resend('dragenter', $event)"
      @dragleave.prevent="resend('dragleave', $event)"
      @dragover.prevent
      @drop.prevent="resend('drop', $event)"
      draggable="true")/
  .QuestionListe_emptyNode(v-else) Question {{ questionId }}
</template>

<style lang="sass">
@use '../assets/base'

.QuestionList_node 
  background-color: rgba(255, 255, 255, .8)
  padding: 0
  margin: 0
  &.selected
    background-color: rgb(242, 228, 240)
    border: solid 1px rgba(255, 0, 0, 1)


.QuestionList_imageThumb
  &.editable
    background: rgba(100, 100, 100, .8)
  &.avalider
    background: rgba(200, 200, 200, .8)


.QuestionList_emptyNode
  height: 60px
  margin: auto
  /*padding-top: 20px*/
  background:  rgba(255, 255, 255, .8) center no-repeat url("/static/loading.gif")
  border: 1px solid black

</style>