<!--
Composant Vuejs qui affiche une fenêtre modale pour éditer une question

Events:
-->

<script lang="ts" setup>
  import Modal from '@/components/Modal.vue'
  import CodeEditor from "@/components/CodeEditor.vue";
  import ThemeTree from "@/components/ThemeTree.vue"
  import {computed, nextTick, reactive, ref} from 'vue'
  import {useQuestionsStore} from "@/store/questions"
  import type {IQuestion, IThemePos, QuestionID, ThemeID} from "@/types"
  import {useThemesStore} from "@/store/themes"

  const questions = useQuestionsStore()
  const themes = useThemesStore()

  interface IQuestionEditorState {
    themesSelection: ThemeID[],
    question: Partial<IQuestion>,
    oldQuestion: IQuestion | null,
    isWaiting: boolean,
  }

  const modal = ref<InstanceType<typeof Modal> | null>(null)
  const root = ref<HTMLElement | null>(null)
  const codeEditor = ref<InstanceType<typeof CodeEditor> | null>(null)
  const themeTree = ref<InstanceType<typeof ThemeTree> | null>(null)

  const emit = defineEmits([
    'update:show',
    'on-close',
    'message'
  ])


  const state: IQuestionEditorState = reactive({
    themesSelection: [],
    question: {themes: []},
    oldQuestion: null,
    isWaiting: false,
  })

  const errors = computed(() => questions.getSaveErrors)

  const validate = computed(() => permissions.includes('Validateur'))

  const validationPossible = computed(() => {
    const selection = state.themesSelection;
    if (selection.length === 0)
      return false;
    // for (let i=0; i<selection.length; i++) {
    //   const themeId = selection[i];
    //   let found = false
    //   for (let j=0; j<state.question.themes!.length; j++) {
    //     if (state.question.themes![j].theme === themeId) {
    //       found = true;
    //       if (state.question.themes![j].position === null)
    //         return false;
    //       else
    //         break;
    //     }
    //   }
    //   if (! found)
    //     return false;
    // }
    return true;
  })

  async function duplicate(questionId: QuestionID) {
    console.debug('QE.duplicate', questionId)
    questions.startEdition()
    state.oldQuestion = null;
    state.question = JSON.parse(JSON.stringify(questions.get(questionId)))
    state.question.id = undefined;
    for (const themePos of state.question.themes!) {
      const themeId = themePos.theme;
      const position = themePos.position;
      if (position !== null)
        themes.getNextPosition(themeId, position).then(newPos => themePos.position = newPos)
    }
    state.question.avalider = false
    state.question.validee = false
    setThemesSelection(state.question.themes!);
    modal.value!.show();
    await nextTick()
    themeTree.value?.initOpenThemes()
  }

  const edit = async (questionId: QuestionID | null = null) => {
    console.debug('QE.edit', questionId)
    questions.startEdition()
    state.oldQuestion = null
    state.question = {themes: []};
    if (questionId) {
      state.oldQuestion = questions.get(questionId)
      state.question = JSON.parse(JSON.stringify(state.oldQuestion))
    }
    setThemesSelection(state.question.themes!)
    modal.value!.show()
    // await nextTick()
    // themeTree.value?.initOpenThemes()
  }

  // function opened(event) {
  //   themeTree.value?.initOpenThemes();
  // }

  function setThemesSelection(themesPos: IThemePos[]){
    let ids = [];
    for (const themePos of themesPos)
      ids.push(themePos.theme);
    state.themesSelection = ids;
  }

  function setThemes(themeIds: ThemeID[]) {
    state.question.themes = []
    for (const themeId of themeIds)
      state.question.themes.push({theme: themeId, position: null})
    setThemesSelection(state.question.themes!)
  }

  function save() {
    state.isWaiting = true
    let themes = [];
    for (let i = 0; i < state.themesSelection.length; i++) {
      const themeId = state.themesSelection[i];
      let found = false
      for (let j = 0; j < state.question.themes!.length; j++) {
        if (state.question.themes![j].theme === themeId) {
          themes.push(state.question.themes![j]);
          found = true;
          break;
        }
      }
      if (!found)
        themes.push({theme: themeId, position: null});
    }
    state.question.themes = themes;
    questions.saveQuestion(state.oldQuestion!,  state.question as IQuestion)
      .then(() => {
        if (questions.getSaveStatus)
          close()
      })
    .finally(() => state.isWaiting = false)
  }

  function onResize({width: newWidth, height: newHeight}: { width: number, height: number }) {
    console.debug('QE.onResize', newWidth, newHeight)
    themeTree.value!.setHeight((newHeight - 139) + 'px')
    codeEditor.value!.setHeight((newHeight - 188) + 'px')
    codeEditor.value!.setWidth((newWidth - 480) + 'px')
  }

  function close() {
    modal.value!.close()
  }

  defineExpose({edit, duplicate, setThemes})
</script>

<template lang="pug">
Modal(
    ref="modal"
    @resize="onResize"
    :minHeight="200"
    :minWidth="475"
    :isWaiting="state.isWaiting")
  template(v-slot:title)
    .QuestionEditor__header {{ state.question.id ? 'Question ' + state.question.id : 'Nouvelle question' }}

  template(
      v-slot:body
      ref="root")
    .QuestionEditor__body
      .QuestionEditor__col1
        .QuestionEditor__rowHeader
          label(for="code") Code LaTeX
        .QuestionEditor__rowContent
          .QuestionEditor__error(v-if="errors && errors.code" data-testid="code-error") {{ errors.code.join('\n') }}
          .QuestionEditor__link(
              v-if="errors && errors.latexlog"
              data-testid="latexlog"
              @click="$emit('message', {title: 'Erreur de compilation', message:errors.latexlog[0]})"
          ) Voir le log LaTeX
          CodeEditor.QuestionEditor__codeEditor(
              ref="codeEditor"
              :disabled="state.isWaiting"
              :class="{Modal_waiting: state.isWaiting}"
              v-model:code="state.question.code")/
        .QuestionEditor__rowHeader
          label(for="avalider") Demande de validation
              //.Question_Editor__information(v-if="! validationPossible") Il faut positionner la question dans chacun des thémes avant de pouvoir demander sa validation.
              //.QuestionEditor__error(v-if="errors && errors.avalider" data-testid="avalider-error") {{ errors.avalider.join('\n')

        .QuestionEditor_rowContent
          input#avalider(
              type="checkbox"
              v-model="state.question.avalider"
              :disabled="! validationPossible || state.isWaiting"
              :class="{Modal_waiting: state.isWaiting}")/

        .QuestionEditor__rowHeader(v-if="validate")
          label(for="validee") Validée

        .QuestionEditor__rowContent(v-if="validate")
          .QuestionEditor__error(v-if="errors && errors.avalidee" data-testid="avalidee-error") {{ errors.avalidee.join('\n') }}
          input#validee(
              type="checkbox"
              v-model="state.question.validee"
              :disabled="state.isWaiting"
              :class="{Modal_waiting: state.isWaiting}")

      .QuestionEditor__col2
        .QuestionEditor__error(v-if="errors && errors.themes" data-testid="themes-error") {{ errors.themes.join('\n') }}
        ThemeTree.QuestionEditor__themeTree(
            ref="themeTree"
            :multiple="true"
            :selection-ids="state.themesSelection"
            :show-empty="true"
            :disabled="state.isWaiting"
            :class="{Modal_waiting: state.isWaiting}"
            @selection-changed="state.themesSelection = $event")/

  template(v-slot:footer)
    .QuestionEditor__footer
      button.QuestionEditor__button(
          data-testid="valider"
          type="button"
          :disabled="state.isWaiting"
          :class="{Modal_waiting: state.isWaiting}"
          @click="save") Valider
      button.QuestionEditor__button(
          data-testid="cancel"
          type="button"
          :disabled="state.isWaiting"
          :class="{Modal_waiting: state.isWaiting}"
          @click="close") Annuler

</template>

<style lang="sass">
  @use '../assets/base'


  .QuestionEditor__body
    display: flex
    //max-height: 300px

  .QuestionEditor__col1
    flex: 1 1 auto
    display: grid
    grid-template-columns: max-content auto
    grid-auto-rows: auto min-content min-content
    //border: solid 1px gray

  .QuestionEditor__col2
    flex: 1 1 auto
    flex-direction: column
    padding: 0
    //max-height: 100%

  .QuestionEditor__themeTree
    //  flex: 1 1 auto
    //  width: 250px
    margin: 0
    //  //max-height: 100%
    //max-height: 300px
  //  overflow: auto
  //  border: 1px solid

  .QuestionEditor__rowHeader
    justify-self: end
  //
  .QuestionEditor__rowContent
    flex: 1 1 auto
    justify-self: stretch
    align-self: stretch
    //border: solid red

  //.editor-content
  //  background: #eff0f1
  //  position: absolute
  //  top: 80px
  //  left:300px
  //  height: 550px
  //  width: 750px


  //.question-editor h2
  //  margin: 0px
  //  text-align: center
  //
  //
  .QuestionEditor__footer
    flex: 0
    display: flex
    justify-content: center

  .QuestionEditor__button
    flex: 0 0 auto


  //.QuestionEditor__codeEditor
  //  min-width: 50px
  //  min-height: 50px


  .QuestionEditor__error
    width: 400px
    font-style: italic
    color: red


  .Question_Editor__information
    width: 400px
    font-style: italic


  .QuestionEditor__button
    margin: 5px


  .QuestionEditor__link
    text-decoration: underline
    cursor: pointer
    &:hover
      font-style: italic

</style>
