<script lang="ts" setup>
  import {computed, defineEmits, nextTick, reactive, ref} from "vue";
  import {useQuestionsStore} from "@/store/questions";
  import {useThemesStore} from "@/store/themes";
  import type {QuestionID, ThemeID} from "@/types";
  import {useClassesStore} from "@/store/classes";

  export interface IQuestionTooltipOptions {
    event: MouseEvent,
    questionId: QuestionID,
    onClose?: () => void,
    showEvolution?: boolean
  }

  interface IQuestionTooltipState {
    visible: boolean,
    questionId?: QuestionID,
    onClose?: () => void,
    showEvolution?: boolean
  }

  const questions = useQuestionsStore()
  const themes = useThemesStore()
  const classes = useClassesStore()


  const state: IQuestionTooltipState = reactive({
    visible: false,
    showEvolution: false
  })

  const root = ref<HTMLElement | null>(null)


  const emit = defineEmits(['set-selection', 'update:show', 'show-evolution-dialog'])

  const question = computed(() => {
    if (state.questionId)
      return questions.get(state.questionId)
    else
      return undefined
  })


  function setSelection(themeId: ThemeID, questionId: QuestionID) {
    console.debug('QT.setSelection', themeId, questionId)
    close()
    emit('set-selection', {themeId: themeId, questionsIds: [ questionId ]})
  }

  function close() {
    console.debug('QT.close')
    state.visible = false
    if (state.onClose)
      state.onClose()
  }

  async function show(options: IQuestionTooltipOptions) {
    console.debug('QT.show', options)
    state.questionId = options.questionId
    state.onClose = options.onClose
    state.showEvolution = options.showEvolution
    let left = options.event.pageX || options.event.clientX
    let top = (options.event.pageY || options.event.clientY) - window.scrollY
    state.visible = true
    await nextTick()
    const bb = root.value!.getBoundingClientRect()
    root.value!.style.left = (left - Math.max(0, left + bb.width - window.innerWidth)) + 'px'
    root.value!.style.top = (top - Math.max(0, top + bb.height-window.innerHeight)) + 'px'
    root.value?.focus()
  }

  function themePath(themeId: ThemeID) {
    var path = [];
    while (themeId !== 1) {
      path.unshift(themeId)
      let currTheme = themes.get(themeId)
      themeId = currTheme.parent!
    }
    return path
  }

  function onEvolutionClick(themeId: ThemeID) {
    close()
    emit('show-evolution-dialog', {themeId: themeId, classeId: classes.getSelectedId})
  }

  defineExpose({show, close})
</script>

<template lang="pug">
.QuestionTooltip(
    ref="root"
    v-show="state.visible"
    tabindex="0"
    @blur="close")
  .QuestionTooltip__question(v-if="question")
    |Question {{ question.id }} (auteur&nbsp;: {{ question.auteur }},
    |{{ question.validee ? 'validée' : (question.avalider ? 'en attente de validation' : 'en cours de rédaction') }})&nbsp;

    .QuestionTooltip__themes Themes&nbsp;:
      ul
        li(v-for="question_order in question.themes")
          .QuestionTooltip__theme.QuestionTooltip__link(
              :title="'Ouvrir le thème \"' +  themes.get(question_order.theme).label + '\" dans la zone de sélection'"
              @click="setSelection(question_order.theme, state.questionId)")
            template(v-for="themeId in themePath(question_order.theme)")
              .QuestionTooltip__themeLabel {{ themes.get(themeId).label }}&nbsp;
              template(v-if="state.showEvolution")
                img.QuestionTooltip__link(
                    src="@/assets/evolution.png"
                    :title="'Voir l\\'évolution pour \"'  + themes.get(themeId).label + '\"'"
                    @click.stop="onEvolutionClick(themeId)")
                |&nbsp;
              span(v-if="themeId !== question_order.theme") >&nbsp;

</template>


<style lang="sass">
.QuestionTooltip
  position: fixed
  background: #eff0f1
  z-index: 999
  outline: none
  border-radius: 5px
  border: 1px solid gray
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.8)
  padding: 5px 0 0 0
  text-align: left


.QuestionTooltip__question
  padding: 5px 15px

.QuestionTooltip__themes
  margin-top: 10px

.QuestionTooltip__theme
  display: flex
  flex-wrap: nowrap
  align-items: center
  //margin-left: 20px

.QuestionTooltip__themeLabel
  flex: 0 0 max-content

.QuestionTooltip__link 
  cursor: pointer
  border-radius: 3px
  &:hover
    background-color: lightskyblue
</style>