<!--
Component that shows a list of question linked to a theme and their scores revatively to a classe

Props:
   themeId (Number) - the id of the theme
   classe (Object) - the classe for which the scores must be shown

Events:
   question-edit: @see (FeuilleListFeuilleSeanceSlot)
   question-drop: @see (FeuilleListFeuilleSeanceSlot)
-->
<script lang="ts" setup>
  import QuestionListNode from "@/components/QuestionListNode.vue";
  import {computed, reactive, ref, watchEffect} from "vue";
  import {useThemesStore} from "@/store/themes";
  import {useQuestionsStore} from "@/store/questions";
  import type {ClasseID, QuestionID, ThemeID} from "@/types";

  const questions = useQuestionsStore()
  const themes = useThemesStore()
  const root = ref<HTMLElement | null>(null)
  const questionNodes = ref<InstanceType<typeof QuestionListNode>[]>([])
  const permissions = globalThis.permissions


  interface IQuestionListState {
    questionsIds?: QuestionID[],
    scores: {},
    questionsSel: QuestionID[],
    onLoaded?: () => void

  }

  interface IQuestionListProps {
    themeId?: ThemeID,
    classeId?: ClasseID
  }

  let nClick: number = 0;
  let timeoutDelay: number = 200
  let clickTimer: ReturnType<typeof setTimeout> | undefined = undefined

  const emit = defineEmits([
      'show-question-tooltip',
      'show-context-menu',
      'question-drop',
      'question-edit',
  ])

  const props = defineProps<{
    themeId?: ThemeID,
    classeId?: ClasseID, // classe for which the score must be shown
  }>()

  const state: IQuestionListState = reactive({
    questionsIds: [],
    scores: {},
    questionsSel: [],
  })

  watchEffect(() => {
    state.questionsIds = questions.getForCurrTheme
    state.onLoaded = undefined
  })

  const questionsIds = computed(() => { // liste des questions à afficher
    return questions.getForCurrTheme
  })

  const selLength = computed(() => {
    return state.questionsSel.length;
  })

  function isSelected(questionId: QuestionID) {
    return questionId in state.questionsSel;
  }

  function isEditable(questionId: QuestionID) {
    const question = questions.get(questionId)
    return permissions.includes('Validateur')
        || (! question.avalider && ! question.validee)
  }

  async function setSelection(questionsIds?: QuestionID[]) {
    console.debug('QL.setSelection', questionsIds)
    if (questionsIds?.length) {
      state.questionsSel = questionsIds;
      state.onLoaded = () => document.getElementById('question_' + questionsIds[0])?.scrollIntoView()
      state.onLoaded()
    } else {
      state.questionsSel = []
      state.onLoaded = undefined
    }
  }

  function questionNodeLoaded() {
    console.debug('QL.questionNodeLoaded')
    if (state.onLoaded !== undefined)
      state.onLoaded()
  }

  function onClick(event: MouseEvent, questionId: QuestionID) {
    nClick++
    if (nClick === 1) {
      clickTimer = setTimeout(() => {
        execClick(event, questionId)
        nClick = 0
      }, timeoutDelay);
    }
  }

  /**
   * executes the click event handle (after the timeout)
   */
  function execClick(event: MouseEvent, questionId: QuestionID) {
    console.info('question', questionId)
    state.onLoaded = undefined
    const themeId = props.themeId as ThemeID
    if (! event.ctrlKey && ! event.shiftKey)
      emit('show-question-tooltip', {
        event: event,
        questionId: questionId,
        showEvolution: true
      })
    if (event.shiftKey && permissions.includes('Validateur')) {
      if (selLength) {
        let first = questions.getIndexInTheme(state.questionsSel[state.questionsSel.length -1], themeId);
        let last = questions.getIndexInTheme(questionId, themeId);
        let inc = 1;
        if (last < first)
          inc = -1;
        for (let i = first+inc; i*inc <= last*inc ; i+= inc) {
          let qId = state.questionsIds![i];
          if (state.questionsSel.indexOf(qId) < 0)
            state.questionsSel.push(qId);
        }
      }
    } else if (event.ctrlKey && permissions.includes('Validateur')) {
      let index = state.questionsSel.indexOf(questionId);
      if (index >= 0) {
        state.questionsSel.splice(index, 1);
      } else {
        state.questionsSel.push(questionId);
      }
    } else
      state.questionsSel = [questionId];
    if ((!event.ctrlKey && !event.shiftKey) || !permissions.includes('Validateur'))
      emit('show-question-tooltip', {
        event: event,
        questionId: questionId,
        showEvolution: true
      })
  }


  function onDblClick(event: MouseEvent, questionId: QuestionID) {
    if (isEditable(questionId))
      emit('question-edit', {questionId:questionId, action:'edit'})
    clearTimeout(clickTimer);
    nClick = 0
  }

  function onContextMenu(event: MouseEvent, questionId: QuestionID) {
    emit('show-context-menu', {
      event: event, options: [
        { name: 'Éditer',
          hidden: ! isEditable(questionId),
          callback: () => emit('question-edit', {questionId:questionId, action:'edit'})},
        { name: 'Dupliquer',
          callback: () => emit('question-edit', {questionId:questionId, action:'duplicate'})},
        { name: 'Propriétés',
          callback: (event: MouseEvent) => emit('show-question-tooltip',{
            event: event,
            questionId: questionId,
            showEvolution: true
          })},
        {name: 'Annuler'}
    ]})
  }

  function onDragStart(event:DragEvent, index: number, questionId: QuestionID) {
    console.debug('QL.onDragStart',event, index, questionId)
    const question = questions.get(questionId)
    if (state.questionsSel.indexOf(questionId) < 0)
      state.questionsSel = [questionId];
    if (question.avalider || permissions.includes('Validateur'))
      event.dataTransfer!.effectAllowed = 'copyMove';
    else if (!question.avalider)
      event.dataTransfer!.effectAllowed = 'move';
    else
      event.dataTransfer!.effectAllowed = 'copy';
    event.dataTransfer!.setData('questionId', question.id.toString());
    event.dataTransfer!.setData('index', index.toString());
    console.debug('QL.onDragStart end', event.dataTransfer!.getData('questionID'))
  }

  
  function onDragEnter(event: DragEvent, indexDest: number, questionId: QuestionID) {
    console.debug('QL.onDragEnter',event, indexDest, questionId)
    if (! event.dataTransfer) {
      console.info('QL.onDragOver event.dataTransfert is null', event)
      return
    }
    const questionPoseeSourceId = event.dataTransfer.getData('questionPoseeId')
    if (questionPoseeSourceId) { // from a questionPosee
      let score = parseFloat(event.dataTransfer.getData('score'))
      if (isNaN(score)) { // not graduated: questionPosee to remove
        showDrop()
        event.dataTransfer.dropEffect = 'move'
      } // else nothing possible
      return
    }

    // not from a questionPosee => from the question list itself. change order :
    const questionSource = questions.get(parseInt(event.dataTransfer.getData('questionId')))
    if (questionSource.avalider && ! permissions.includes('Validateur'))
      return

    const positionDest = questions.getPositionInTheme(questions.get(questionId), props.themeId!)

    // on unordered question => after last unodered
    event.dataTransfer.dropEffect = 'move'
    if (positionDest === null) {
      findLastUnordered().style.borderBottom = '5px dashed blue';
      return
    }

    // on itself
    if (questionSource.id === questionId) {
      event.dataTransfer.dropEffect = 'none'
      return
    }

    let indexSource = parseInt(event.dataTransfer.getData('index'))
    const questionNode = questionNodes.value[indexDest]
    if (indexDest < indexSource)
      questionNode!.style.borderTop = '5px dashed blue';
    else if (indexDest > indexSource)
      questionNode!.style.borderBottom = '5px dashed blue';
  }
  
  function onDragLeave(event: DragEvent, index: number, questionId: QuestionID) {
    console.debug('QL.onDragLeave', event, index, questionId)
    hideDrop(index)
  }


  /**
   * event handler for the drop
   */
  function onDrop(event: DragEvent, indexDest: number, questionId: QuestionID) {
    console.debug('QL.onDrop', event)
    if (!event.dataTransfer) {
      console.error('QL.onDrop: no event.dataTransfert', event)
      return
    }
    let questionPoseeSourceId = event.dataTransfer.getData('questionPoseeId')
    if (!questionPoseeSourceId) { // QuestionList to QuestionList : change order
      const questionSource = questions.get(parseInt(event.dataTransfer.getData('questionId')))
      if (questionSource.avalider && !permissions.includes('Validateur'))
        return
      emit('show-context-menu', {event: event, options:[
          { 'name': 'Changer l\'ordre',
            callback: () => {
              changePosition(parseInt(event.dataTransfer!.getData('index')), indexDest)
              hideDrop(indexDest)}},
          {'name': 'Annuler', callback: () => hideDrop(indexDest)}
      ]})

    } else { // Drop from FeuilleList
      hideDrop(indexDest)
      emit('question-drop', {
        seanceSourceId: event.dataTransfer.getData('seanceId'),
        positionSource: event.dataTransfer.getData('position'),
        questionPoseeSourceId: event.dataTransfer.getData('questionPoseeId'),
        questionSourceId: event.dataTransfer.getData('questionId'),
        scoreSource: event.dataTransfer.getData('score'),
        questionDestId: questionId
      })
    }
  }

  function showDrop() {
    root.value!.style.background = '#f99';
  }

  function hideDrop(index: number | null = null) {
    if (index !== null) {
      questionNodes.value[index].style.borderBottom = ''
      questionNodes.value[index].style.borderTop = ''
    }
    root.value!.style.background = '';
  }

  function changePosition(indexSource: number, indexDrop: number) {
    const ids = questions.getForCurrTheme!
    // const indexSource = this.dropEvent.dataTransfer.getData('index');
    // const positionDest = questions.get(ids[indexDrop]).question.getPositionInTheme(props.themeId);
    const positionDrop = questions.getPositionInTheme(questions.get(ids[indexDrop]), props.themeId!);

    root.value!.style.cursor = 'wait'

    let newPosition = []

    if (positionDrop === undefined)
      return

    // on unordered question => before first unordered
    if (positionDrop === null) {
      const firstOrdered = findFirstOrdered();
      let positionBeforeDrop = 0
      if (firstOrdered) {
        positionBeforeDrop = questions.getPositionInTheme(firstOrdered.question,  props.themeId!) as number -(selLength.value * 128)
      }
      for (let i = 0; i< selLength.value; i++) {
        newPosition[i] = positionBeforeDrop + i*128;
      }
    } else if (indexDrop < indexSource) { // before the actual position
      if (indexDrop === 0 || ! questions.getPositionInTheme(questions.get(ids[indexDrop-1]), props.themeId!))
          // before the first ordored question
        for (let i = selLength.value - 1; i >= 0; i--) {
          newPosition[i] = positionDrop - (i + 1) * 128;
        }
      else {
        let positionBeforeDrop = questions.getPositionInTheme(questions.get(ids[indexDrop-1]), props.themeId!)!
        let gap = 128
        if (positionBeforeDrop === null) {
          positionBeforeDrop = positionDrop - (selLength.value + 1)* 128
        } else {
          gap = positionDrop
              - positionBeforeDrop;
        }
        for (let i = 0; i < selLength.value; i++) {
          newPosition[i] = positionBeforeDrop + (i + 1) * gap / (selLength.value + 1)

        }
      }
    } else if (indexDrop > indexSource) { // after the actual position
      if (indexDrop === state.questionsIds!.length - 1) {
        for (let i = 0; i < selLength.value; i++) {
          newPosition[i] = positionDrop + 128 * (i + 1) // after the last question
        }
      } else {
        const positionAfterDrop = questions.getPositionInTheme(questions.get(ids[indexDrop+1]), props.themeId!)!
        let gap = 128
        if (positionAfterDrop !== null)
          gap = positionAfterDrop
            - positionDrop;
        for (let i = 0; i < selLength.value; i++) {
          newPosition[i] = positionDrop + (i + 1) * gap / (selLength.value + 1)
        }
      }
    } else { // on itself (probably a bug)
      console.warn('drop on itself')
      root.value!.style.cursor = '';
    }
    state.questionsSel.sort((a,b) => {
      let posa = questions.getPositionInTheme(questions.get(a), props.themeId!)!
      let posb = questions.getPositionInTheme(questions.get(b), props.themeId!)!
      if (posa === null && posb === null)
        return 0
      if (posa === null)
        return -1
      if (posb === null)
        return 1
      if (posa < posb)
        return -1
      if (posb < posa)
        return 1
      else
        return 0
    })
    let promises = []
    for (let i = 0; i < selLength.value; i++) {
      promises.push(questions.changeQuestionPosition(
          state.questionsSel[i],
          {theme_id: props.themeId!, position: newPosition[i]}))
    }
    Promise.all(promises).then(() => root.value!.style.cursor = '')
  }


  /**
   *
   * @returns {*|Vue|Element} the QuestionListNode for the last unordered question
   */
  function findFirstOrdered() {
    let index = 0;
    while (questions.getPositionInTheme(questions.get(questions.getForCurrTheme![index]), props.themeId!) === null)
      index++
    return questionNodes.value[index]
  }

  /**
   *
   * @returns {*|Vue|Element} the QuestionListNode for the last unordered question
   */
  function findLastUnordered() {
    let index = 0;
    while (questionNodes.value[index + 1]
    && questions.getPositionInTheme(questionNodes.value[index + 1].question, props.themeId!) === null)
      index++
    return questionNodes.value[index]
  }

  defineExpose({setSelection})
</script>

<template lang="pug">
.QuestionList(ref="root")
  span(v-if="themes.isLoading || questions.isLoading || ! questionsIds") Chargement...
  span(v-else="themes.isLoading || questions.isLoading || ! questionsIds") {{ questionsIds.length }} question{{ questionsIds.length > 1 ? 's' : '' }}
  .QuestionList_list
    QuestionListNode.QuestionList_node(
        v-for="(questionId, index) in questionsIds"
        :key="index"
        :ref="el => questionNodes[index] = el"
        :index="index"
        :question-id="questionId"
        :selected="state.questionsSel.indexOf(questionId)>=0"
        @click="onClick($event, questionId)"
        @dblclick="onDblClick($event, questionId)"
        @contextmenu.prevent="onContextMenu($event, questionId)"
        @loaded="questionNodeLoaded"
        draggable="draggable"
        @dragstart="onDragStart($event, index, questionId)"
        @dragenter.prevent="onDragEnter($event, index, questionId)"
        @dragover="$event.dataTransfer.effectAllowed = 'move'"
        @dragleave.prevent="onDragLeave($event, index, questionId)"
        @drop.prevent="onDrop($event, index, questionId)"
        @show-context-menu="$emit('show-context-menu', $event)"
        @show-question-tooltip="$emit('show-question-tooltip', $event)")/
</template>

<style lang="sass">
@use '../assets/base'

.QuestionList
  flex: 1 1 auto
  height: calc(100% - 100px)
  min-width: 212px
  display: flex
  flex-direction: column

.QuestionList_list
  flex: 1 1 auto
  overflow-y: auto
  border-top: base.$borders
</style>
