<script lang="ts" setup>
  import {computed} from "vue";

  const bareme = 5

  const props = defineProps<{
    score: number | null,
  }>()

  const evalue = computed(() => {
    return props.score !== null
  })

</script>

<template lang="pug">
.Score(
    :class="{Score__valuated: evalue}"
    :title="props.score ? ('score : ' + (props.score * bareme) + ' / ' + bareme) : 'non évalué'")
  .Score__value(
      v-if="evalue"
      :style="'width: ' + (props.score * 100)+ '%'")/
</template>

<style lang="sass">

/* Affichage du score : */
/* si non évalué : gris */
.Score
  display: block
  max-height: 5px
  width: 150px
  height: 3px
  background: lightgray
  border: 1px solid gray
  margin: 0 auto
  margin-top: 4px


/* si évalué : fond rouge */
.Score__valuated 
  background: red


/* et score en vert */
.Score__value
  height: 100%
  background: greenyellow

</style>