<!--
Composant Vuejs qui affiche les nœuds de l'arbre des thèmes

Props:
  theme (Object) - le thème à représenter
  open_ids (array of integer) - tableau des identifiant de thème internes
                              qui sont ouverts
  selections_ids (array ef integer) - tableau des identifiant de thème feuille
                              qui sont selectionnés
  unique (boolean) - si vrai, un seul thème est sélectionné à la fois

Events:
  click-event - émis lors d'un click sur un thème (propagé vers la racine)

-->

<script lang="ts" setup>
  import {defineProps} from "vue";
  import {useThemesStore} from "@/store/themes";
  import type {ITheme, ThemeID} from "@/types";
  import {useClassesStore} from "@/store/classes";

  const themes = useThemesStore()
  const classes = useClassesStore()

  interface IThemeTreeNode {
    theme: ITheme,
    openIds?: ThemeID[],
    selectionIds?: ThemeID[],
    showEmpty?: boolean,
    disabled?: boolean,
  }

  const props: IThemeTreeNode = defineProps<{
    theme: ITheme,    // Theme pour ce nœud
    openIds?: [],    // ids des themes dont le nœud est ouvert
    selectionIds?: [], // ids des thèmes selectionnés
    showEmpty?: false,    // selection unique ?
    disabled?: false,
  }>()

  const emit = defineEmits([
    'click-on-theme',
      'show-evolution-dialog',
      'show-context-menu'
  ])

  // compute the CSS class for the given theme
  function getClasses(theme: ITheme) {
    let classes = 'theme';
    if (theme.enfants.length === 0) {
      classes += ' feuille';
    } else if (props.openIds!.includes(theme.id)) {
      classes += ' open';
    } else {
      classes += ' closed';
    }
    if (props.selectionIds!.includes(theme.id)) {
      classes += ' ThemeTree__node_selected';
    }
    return classes;
  }

  function onClick(event: {themeId: ThemeID}) {
    console.info('theme', props.theme.id)
    if (props.disabled)
      return
    event.themeId = props.theme.id
    emit('click-on-theme', event)
  }

  function onContextMenu(event: MouseEvent) {
    if (props.disabled)
      return
    console.debug('TTN.onContextMenu', event)
    emit('show-context-menu', {
      event: event,
      options: [
        { name: 'Voir l\'évolution',
          callback: () => emit('show-evolution-dialog', {themeId: props.theme.id, classeId: classes.getSelectedId})},
        { name: 'Annuler'}
      ]
    })
  }
</script>

<template lang="pug">
li(
    v-if="props.theme && (props.theme.hasQuestion || props.showEmpty)"
    :class="getClasses(props.theme)")
  span.ThemeTree__label(
      :data-testid="'theme_' + props.theme.id"
       @click="onClick"
       @contextmenu.prevent="onContextMenu"
  ) {{ props.theme.label }}
  ul(
      v-if="props.theme.enfants.length > 0"
      v-show="props.openIds.includes(props.theme.id)")
    ThemeTreeNode.ThemeTree__node(
        v-for="enfantId in props.theme.enfants"
        :key="enfantId"
        :open-ids="props.openIds"
        :selection-ids="props.selectionIds"
        :theme="themes.get(enfantId)"
        :show-empty="props.showEmpty"
        :disabled="props.disabled"
        @click-on-theme="$emit('click-on-theme', $event)"
        @show-context-menu="$emit('show-context-menu', $event)"
        @show-evolution-dialog="$emit('show-evolution-dialog', $event)")/
</template>

<style lang="sass">
.ThemeTree__node
  width: 150px

</style>

