<!--
 Composant Vuejs qui affiche les themes sous forme d'arbre dépliable
 et où les feuilles sont sélectionnables.

 Props:
   selection_ids (array of int) - le tableau des id des thèmes sélectionnés
   multiple (boolean) - si faux un seul thème est sélectionné à la fois
                        (comportement par défaut)
  showEmpty (boolean) - if tnue, the thees with no question are showm
                        (default = false)

 Events:
   'selection-changed' - $event contient le nouveau tableau d' ids sélectionnés
-->

<script lang="ts" setup>
  import ThemeTreeNode from './ThemeTreeNode.vue'
  import {computed, reactive, ref, watch} from "vue";
  import {useThemesStore} from "@/store/themes";
  import type {ITheme, ThemeID} from "@/types";
  const themes = useThemesStore()
  const themeTree = ref<InstanceType<typeof HTMLUListElement> | null>(null)

  const emit = defineEmits([
      'selection-changed',
      'show-context-menu',
      'show-evolution-dialog'
  ])

  interface IThemeTree {
    multiple?: boolean,        // si faux un seul thème est sélectionné à la fois (comportement par défaut)
    showEmpty?: boolean,       // show themes with no question ?
    selectionIds?: ThemeID[]
  }

  const props: IThemeTree = defineProps<{   //  le tableau des ids des thèmes sélectionnés
    multiple?: false,        // si faux un seul thème est sélectionné à la fois (comportement par défaut)
    showEmpty?: false,       // show themes with no question ?
    selectionIds?: []
    isWaiting?: false,
    disabled?: false,
  }>()

  const state =  reactive({
    openIds: [1],      // tableau des ids de thèmes ouverts.
                          // initialement, seule la racine est ouverte
  })

  const root = computed(() => {
    return themes.get(1)
  })

  watch(
      () => props.selectionIds,
      (selectionIds) => initOpenThemes()
  )

  /*
   * test if this theme or one of their children is selected
   */
  function isSelected(theme: ITheme) {
    if (props.selectionIds!.includes(theme.id))
      return true;
    for (const enfantId of theme.enfants) {
      if (isSelected(themes.get(enfantId)))
        return true;
    }
    return false;
  }

  function onClickOnTheme(event: {themeId: ThemeID}) {
    let theme = themes.get(event.themeId)
    if (theme.enfants.length > 0) {
      // nœud interne
      if (state.openIds.includes(theme.id)) {
        if (!isSelected(theme))
          state.openIds.splice(state.openIds.indexOf(theme.id));
      } else {
        state.openIds.push(theme.id)
      }
    } else {
      // nœud feuille
      let newSelection;
      if (props.multiple) {
        newSelection = props.selectionIds
        if (newSelection!.includes(theme.id)) {
          // sélectionné => on déselectionne
          newSelection!.splice(newSelection!.indexOf(theme.id), 1);
        } else {
          // non selectionné => on sélectionne
          newSelection!.push(theme.id)
        }
      } else {
        newSelection = [theme.id]
      }
      emit('selection-changed', newSelection)
    }
  }

  /*
   * add recursively themes to open_ids with the ids of the selected themes
   */
  function initOpenThemes(theme = themes.get(1)) {
    console.debug('TT.initOpenThemes')
    if (theme.id === 1)
      state.openIds.splice(0)
    if (theme.id === 1 || isSelected(theme)) {
      state.openIds.push(theme.id);
      for (const enfantId of theme.enfants) {
        initOpenThemes(themes.get(enfantId))
      }
    }
  }

  function setHeight(height: string) {
    themeTree.value!.style.height = height
  }

  defineExpose({initOpenThemes, setHeight})
</script>

<template lang="pug">
ul.ThemeTree(ref="themeTree"
      v-if="root"
      :class="{ThemeTree__node_disabled: props.disabled, ThemeTree__node_enabled: ! props.disabled, ThemeTree__node_waiting: props.isWaiting}")
  themeTreeNode.ThemeTree__node(
      :open-ids="state.openIds"
      :selection-ids="props.selectionIds"
      :theme="root"
      :show-empty="props.showEmpty"
      :disabled="props.disabled"
      :isWaiting="props.isWaiting"
      @click-on-Theme="onClickOnTheme"
      @show-context-menu="$emit('show-context-menu', $event)"
      @show-evolution-dialog="$emit('show-evolution-dialog', $event)")/
div(v-else="root") Chargement des thèmes...

</template>


<style lang="sass">
.ThemeTree
  overflow-y: scroll

.hidden 
  display: none

.ThemeTree > ul 
  list-style: inside
  margin-left: 10px
  padding: 0

.ThemeTree li 
  padding: 0
  margin-left: -10px

.ThemeTree li.open 
  list-style-type: "🞃"


.ThemeTree li.closed 
  list-style-type: "🞂"


.ThemeTree li.feuille 
  list-style-type: none

.ThemeTree__node_enabled .ThemeTree__label
  cursor: pointer

.ThemeTree__node_disabled
  color: gray

.ThemeTree__node_selected
  font-weight: bold
  color: white
  .ThemeTree__node_enabled &
    background-color: black
  .ThemeTree__node_disabled &
    background-color: darkgrey

.ThemeTree__node_waiting
  cursor: wait
</style>