<!--
  - Copyright (c) 2022.
  - GuiΩ guillaume.claus@worldonline.fr
  -->

<script lang="ts" setup>
  import {useClassesStore} from "@/store/classes"
  import {useUndoablesStore} from "@/store/undoables"
  import {useQuestionsStore} from "@/store/questions"
  import {computed} from "vue"
  import type {} from "@/types"

  const classes = useClassesStore()
  const questions = useQuestionsStore()
  const undoables = useUndoablesStore()

  const username = globalThis.username

  const emit = defineEmits([
      'classe-changed',
      'show-questionsavalider-dialog'
  ])

  classes.loadAnnees()
  questions.loadQuestionsAValider()

  const hasAValider = computed(() => permissions.includes('Validateur') && questions.getAValider.length > 0)

  function onAnneeChange(event: InputEvent) {
     classes.setSelectedAnnee(parseInt((event.target as HTMLInputElement).value))
  }

  function onClasseChange(event: InputEvent) {
    console.info('classe', parseInt((event.target as HTMLInputElement).value))
    emit('classe-changed', parseInt((event.target as HTMLInputElement).value))
    // classes.setSelectedId(parseInt((event.target as HTMLInputElement).value))
  }

  function onQuestionsAValider() {
    emit('show-questionsavalider-dialog')
  }

</script>


<template lang="pug">
.Toolbar(@contextmenu="onClick")
  .Toolbar_left
    router-link(to="/am/documentation") Documentation
    | &nbsp;
    router-link(to="/am/configuration") Configuration
    | &nbsp;
    a(v-if="hasAValider"
        @click="onQuestionsAValider") Questions à valider

  .Toolbar_center
    select#YearSelector(
        v-if="classes.getAnnees.length"
        :value="classes.getSelectedAnnee"
        @input="onAnneeChange")
      option(
          v-for="annee in classes.getAnnees"
          :value="annee")
        | {{ annee }} - {{ annee + 1 }}
    select(
        v-if="classes.getAnnees.length"
        :value="classes.getSelectedId"
        @input="onClasseChange")
      option(
          v-for="classeId of classes.getCurrIds"
          :key="classeId"
          :value="classeId"
        ) {{ classes.get(classeId).nom}}
  .Toolbar_right
    button#undo(:disabled="! undoables.hasUndoable" :title="undoables.getUndoMessage" @click="undoables.undo") ↩
    button#redo(:disabled="! undoables.hasRedoable" :title="undoables.getRedoMessage" @click="undoables.redo") ↪
    | &nbsp;
    span(data-testid="username")
      a(href="profile/" title="Profile") {{ username }}
    | &nbsp;
    a(href="logout/" title="Déconnexion") Déconnexion
</template>

<style>

/* toolbar */
.Toolbar {
  background: #eff0f1;
  display: flex;
  flex-direction: row;
  padding: 5px;
  text-align: center;
}

.Toolbar_left, .Toolbar_right {
  margin: 0 10px;
}
.Toolbar_center {
  flex: 2;
}

</style>