<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Activités Mentales{% block title %}{% endblock%}</title>
    {% block head %}{% endblock%}
  </head>

  <body>
  {% block content %}
  {% endblock %}
  </body>
</html>
