<script lang="ts" setup>
  import {useThemesStore} from "@/store/themes";
  import {useLatexStore} from "@/store/latex";

  const themes = useThemesStore()
  const latex = useLatexStore()

  themes.loadThemes()
      // .then(() => themes.setSelectedTheme(93))
  latex.loadModels()

</script>

<template lang="pug">
router-view/
</template>

<style>
body {
  margin: 0px;
}
</style>

